.agency{
    ._txt{
        padding: 34px percentage(360/1440) 71px;
        font-family: "KoHo-Regular";
        font-size: 15px;
        line-height: 25px;
        color: #333333;
        @include mediaMaxWidth(768px){
            padding: 34px 100px 70px;
        }
        @include mediaMaxWidth(480px){
            padding: 34px 15px 40px;
        }
        p{
            margin-bottom: 14px;
            span{
                &:nth-of-type(1){
                    margin-right: 75px;
                }
            }
        }
    }
    ._utilities{
        padding: 0 percentage(120/1440) 61px;
        @include mediaMaxWidth(1024px){
            padding: 0 30px 60px;
        }
        @include mediaMaxWidth(480px){
            padding: 0 16px 40px;
        }
        .__list{
            margin-bottom: 32px;
            ul{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                li{
                    width: calc((100% - 40px) / 5);
                    margin-bottom: 19px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-family: "KoHo-Regular";
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-align: start;
                        -ms-flex-align: start;
                            align-items: flex-start;
                    cursor: pointer;
                    @include mediaMaxWidth(768px){
                        width: calc((100% - 30px) / 3);
                    }
                    @include mediaMaxWidth(480px){
                        width: calc((100% - 15px) / 2);
                        margin-bottom: 15px;
                    }
                    span{
                        &:nth-of-type(1){
                            width: 32px;
                            height: 32px;
                            background: #6A503E;
                            color: #ffffff;
                            font-size: 15px;
                            line-height: 32px;
                            text-align: center;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            margin-right: 13px;
                            border-radius: 100%;
                            @include mediaMaxWidth(480px){
                                width: 28px;
                                height: 28px;
                                line-height: 28px;
                                font-size: 13px;
                                margin-right: 10px;
                            }
                        }
                        &:nth-of-type(2){
                            font-size: 16px;
                            line-height: 30px;
                            color: #333333;
                            width: calc(100% - 45px);
                            @include mediaMaxWidth(480px){
                                width: calc(100% - 38px);
                                font-size: 14px;
                                line-height: 18px;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .__img{
            max-width: 100%;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin: 0 auto;
            position: relative;
            .__item{
                position: absolute;
                top: 0;
                -webkit-transition: .4s;
                transition: .4s;
                &[data-number = "01"]{
                    left: 28%;
                    margin-top: 34%;
                }
                &[data-number = "02"]{
                    left: 26%;
                    margin-top: 42%;
                }
                &[data-number = "03"]{
                    left: 45%;
                    margin-top: 58.6%; 
                }
                &[data-number = "04"]{
                    left: 51%;
                    margin-top: 67%;
                }
                &[data-number = "05"]{
                    left: 47%;
                    margin-top: 49%;
                }
                &[data-number = "06"]{
                    left: 44%;
                    margin-top: 32%;
                }
                &[data-number = "07"]{
                    left: 56%;
                    margin-top: 24.7%;
                }
                &[data-number = "08"]{
                    left: 65%;
                    margin-top: 35.7%;
                }
                &[data-number = "09"]{
                    left: 46%;
                    margin-top: 42.5%;
                }
                &[data-number = "10"]{
                    left: 52%;
                    margin-top: 46%;
                }
                img{
                    width: 34px;
                    cursor: pointer;
                    @include mediaMaxWidth(480px){
                        width: 23px;
                    }
                }
                ._number{
                    cursor: pointer;
                    position: absolute;
                    left: 50%;
                    top: 7px;
                    -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                    font-size: 12px;
                    font-family: "KoHo-Regular";
                    @include mediaMaxWidth(480px){
                        top: 2px;
                    }
                }
                ._note{
                    position: absolute;
                    top: -48px;
                    height: 38px;
                    padding: 0 23px;
                    line-height: 38px;
                    font-family: "KoHo-Regular";
                    font-size: 15px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    background: #40240F;
                    border: 1px solid #A56D3A;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    white-space: nowrap;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: .4s;
                    transition: .4s;
                    transition: .4s;
                    @include mediaMaxWidth(1024px){
                        width: auto !important;
                    }
                }
                &.is_active{
                    -webkit-transform: scale(1.2);
                            transform: scale(1.2);
                    z-index: 10;
                    ._note{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            img{
                max-width: 100%;
            }
            ._zoom{
                position: absolute;
                bottom: 50px;
                right: 170px;
                color: #333333;
                @include mediaMaxWidth(1024px){
                    bottom: 0;
                    right: 0;
                }
            }
            ._drums{
                position: absolute;
                bottom: 140px;
                left: 0;
                z-index: -1;
            }
        }
    }

    .image_utili{
        padding: 0 percentage(120/1440);
        @include mediaMaxWidth(1024px){
            padding: 0 30px;
        }
        @include mediaMaxWidth(480px){
            padding: 0 15px;
        }
        ._title{
            font-family: "SVN-Miller Banner Bold";
            font-size: 28px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #503A2D;
            margin-bottom: 50px;
            @include mediaMaxWidth(480px){
                font-size: 22px;
            }
        }

        ._slide{
            position: relative;
            .swiper-container{
                padding: 0 120px;
                @include mediaMaxWidth(768px){
                    padding: 0 60px;
                }
                @include mediaMaxWidth(480px){
                    padding: 0px;
                }
                .swiper-slide{
                    height: 600px;
                    position: relative;
                    @include mediaMaxWidth(1366px){
                        height: 550px;
                    }
                    @include mediaMaxWidth(480px){
                        height: 300px;
                    }
                    &::before{
                        content: "";
                        @include absoluteFull;
                        background: rgba(95, 64, 36, .9);
                        -webkit-transition: .3s;
                        transition: .3s;
                    }
                    &::after{
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(135%, #000000));
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87.5%, #000000 135%);
                        content: "";
                        @include absoluteFull;
                    }
                    &.swiper-slide-active{
                        &::before{
                            background: transparent;
                        }
                    }
                    .swiper-slide-shadow-left, .swiper-slide-shadow-right{
                        background: none;
                    }
                    ._img{
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                    }
                    ._content{
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        padding: 0 50px 23px 50px;
                        bottom: 0;
                        left: 0;
                        text-align: center;
                        color: #ffffff;
                        @include mediaMaxWidth(1024px){
                            padding: 0 30px 23px 30px;
                        }
                        @include mediaMaxWidth(480px){
                            padding: 0 15px 15px 15px;
                        }
                        h4{
                            font-family: "KoHo-Bold";
                            font-size: 20px;
                            line-height: 30px;
                            text-align: center;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }
                        p{
                            opacity: 0;
                            visibility: hidden;
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            margin: 0;
                        }
                    }
                }
                .swiper-button-next, .swiper-button-prev{
                    -webkit-filter: brightness(0) invert(1);
                            filter: brightness(0) invert(1);
                    outline: none;
                    width: 23px;
                    height: 40px;
                    background-size: contain;
                }
                .swiper-button-next{
                    right: 50px;
                    @include mediaMaxWidth(768px){
                        right: 20px;
                    }
                    @include mediaMaxWidth(480px){
                        right: 10px;
                    }
                }
                .swiper-button-prev{
                    left: 50px;
                    @include mediaMaxWidth(768px){
                        left: 20px;
                    }
                    @include mediaMaxWidth(480px){
                        left: 10px;
                    }
                }
            }
            .__content{
                max-width: 580px;
                margin: 18px auto 10px;
                font-family: "KoHo-Regular";
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                color: #4D4D4D;
            }

            .swiper-pagination{
                bottom: -35px;
                font-family: "KoHo-Bold";
                .swiper-pagination-current{
                    font-family: "KoHo-Bold";
                    font-size: 24px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #A56D3A;
                }
                .swiper-pagination-total{
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #363636;
                }
            }
        }
    }
}