body{
	&.not_scroll{
		height: 100vh;
		overflow: hidden;
	}
}
._read_more_def{
	display: block;
	position: relative;
	padding-left: 42px;
	font-family: "KoHo-Bold";
	font-size: 15px;
	color: #946638;
	transition: all .3s ease;
	text-decoration: none;
	&:before{
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 32px;
		height: 1px;
		transform: translateY(-50%);
		background: #ba8047;
		transition: all .3s ease;
	}
	&:hover{
		letter-spacing: 1.5px;
		text-decoration: none;
		color: #946638;
		padding-left: 50px;
		&:before{
			width: 40px;
		}
	}
}
._load_all_def{
	color: #946638;
	font-family: "KoHo-Bold";
	font-size: 15px;
	text-transform: uppercase;
	transition: all .3s ease;
	&:hover{
		letter-spacing: 1.5px;
		color: #946638;
	}
}
.btn_next_def,
.btn_prev_def{
	background-image: none !important;
	top: auto;
	bottom: 0;
	color: #8c8c8c;
	font-family: "KoHo-Bold";
	font-size: 16px;
	text-transform: uppercase;
	width: auto;
	height: auto;
	right: auto;
	outline: none;
	transition: all .3s ease;
	&:hover{
		color: #946638;
		letter-spacing: 1px;
	}
}
.section_8{
	position: relative;
	width: 100%;
	background-color: #fff;
	padding-top: 325px;
	@include mediaMaxWidth(768px) {
      	padding-top: 275px;
    }
	@include mediaMaxWidth(480px) {
       padding-top: 0;
       margin-top: 50px;
    }
	._bg_decor{
		position: absolute;
		left: 0;
		bottom: 0;
		@include backgroundCoverCenter;
		width: 100%;
		height: calc(100% - 325px);
		z-index: 1;
		@include mediaMaxWidth(480px) {
	       height: 52%;
	    }
	}
	&:before{
		position: absolute;
		content: "";
		background-size: cover;
	    background-position: bottom right;
	    background-repeat: no-repeat;
		background-image: url('../../../images/home_mai/s8_decor1.png');
		z-index: 2;
		pointer-events: none;
		top: 325px;
		left: 0;
		width: 100%;
		height: 260px;
		@include mediaMinWidth(1600px) {
	       height: 300px;
	    }
	    @include mediaMaxWidth(480px) {
	       background-position: center left;
	       top: 48%;
	    }
	}
	._home_agency{
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 50px percentage(1/12);
		background: rgba(#2a150f, 0.9);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.pagination_all,
		.js_h_agency_next,
		.js_h_agency_prev{
			display: none;
		}
		@media only screen and (max-width: 1024px){
			padding: 50px 30px;
		}
		@media only screen and (max-width: 768px){
			padding: 50px 30px 0;
			.pagination_all,
			.js_h_agency_next,
			.js_h_agency_prev{
				display: block;
				outline: none;
			}
			.js_h_agency_next,
			.js_h_agency_prev{
				background-image: none !important;
				width: 12px;
				img{
					width: 16px;
				}
			}
			.js_h_agency_next{
				right: 0;
			}
			.js_h_agency_prev{
				left: 0;
			}
			.pagination_all{
				font-family: "KoHo-Regular";
				font-size: 15px;
				color: #fff;
				bottom: 22px;
				.swiper-pagination-current{
					font-family: "KoHo-Bold";
				}
			}
		}
		@media only screen and (max-width: 480px){
			padding: 26px 20px 0;
		}
		._left{
			width: percentage(2/10);
			.home_title{
				h3{
					color: #626262;
				}
				h2{
					background: -webkit-linear-gradient(#D4BA81 0%, #B88F5C 54.17%, #A56D3A 100%);
				    background: linear-gradient(#D4BA81 0%, #B88F5C 54.17%, #A56D3A 100%);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				}
			}
			@media only screen and (max-width: 768px){
				width: 100%;
				margin-bottom: 36px;
				.home_title{
					text-align: center;
					br{
						display: none;
					}
				}
			}
		}
		._right{
			position: relative;
			width: percentage(8/10);
			padding-left: percentage(0.5/10);
			.swiper-slide{
				display: flex;
				align-items: center;
				flex-direction: column;
				padding: 5px;
				._logo{
					max-width: 180px;
				}
				._intro{
					margin-top: 13px;
					h3{
						color: #fff;
						text-align: center;
						font-family: "KoHo-Regular";
						font-size: 22px;
						line-height: 30px;
						margin-bottom: 5px;
					}
					p{
						color: #fff;
						text-align: center;
						font-family: "KoHo-SemiBold";
						font-size: 18px;
						a{
							display: block;
							color: #fff;
						}
					}
				}
			}
			@media only screen and (max-width: 768px){
				width: 100%;
				padding-left: 0;
				padding-bottom: 65px;
			}
			@media only screen and (max-width: 480px){
				.swiper-container{
					padding: 0 10px;
				}
				.swiper-slide{
					._logo{
						max-height: 48px;
					}
					._intro{
						margin-top: 5px;
						h3{
							font-size: 16px;
						}
						p{
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}
._home_contact{
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 percentage(1/12) 130px;
	margin-top: -198px;
	.home_title{
		h3{
			color: #626262;
		}
		h2{
			background: -webkit-linear-gradient(#A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    background: linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
	}
	@media only screen and (max-width: 1024px){
		padding: 0 30px 130px;
	}
	@media only screen and (max-width: 480px){
		padding: 0 20px 370px;
		margin-top: 0;
	}
	._left{
		position: relative;
		width: percentage(3/10);
		padding-top: 52px;
		@media only screen and (max-width: 1024px){
			width: 100%;
			margin-bottom: 32px;
			text-align: center;
			padding-top: 0;
		}
	}
	._right{
		position: relative;
		width: percentage(7/10);
		padding-left: percentage(1/10);
		padding-right: percentage(1/10);
		@media only screen and (max-width: 1024px){
			width: 100%;
		}
		@media only screen and (max-width: 480px){
			width: 100%;
			padding: 0;
		}
		form{
			width: 100%;
			position: relative;
			background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;
			background-image: url('../../../images/home_mai/frm_bg.png');
			padding: 45px 62px;
			label{
				font-family: "KoHo-Regular";
				font-size: 14px;
				text-transform: uppercase;
				color: #a29b98;
				margin: 0;
			}
			input, button, textarea{
				box-shadow: none;
				outline: none;
				border: 0;
				border-radius: none;
				resize: none;
			}
			input,textarea{
				height: 36px;
				padding: 5px 0;
				font-family: "KoHo-Regular";
				font-size: 14px;
				color: #fff;
				border-bottom: 1px solid #51311d;
				background: inherit;
				&:focus{
					border-bottom: 1px solid #946638;
				}
			}
			textarea{
				height: 75px;
			}
			button{
				display: block;
			    width: 160px;
			    height: 40px;
			    background: linear-gradient(90deg, #b1753e 0%, #c39760 51%, #d4ba81 100%);
			    color: #ffffff;
			    text-align: center;
			    line-height: 40px;
			    font-size: 16px;
			    font-family: "KoHo-Bold";
			    text-transform: uppercase;
			    text-decoration: none;
			    cursor: pointer;
			    margin-left: 45px;
			    transition: .3s;
			    &:hover{
			    	background: linear-gradient(270deg, #b1753e 0%, #c39760 51%, #d4ba81 100%);
			    }
			}
			._item{
				position: relative;
				display: flex;
				flex-direction: column;
				margin-bottom: 28px;

			}
			._msg_frm{
				margin-top: 20px;
				font-family: "KoHo-SemiBold";
				color: #fff;
				font-size: 14px;
			}
			._other{
				display: flex;
				align-items: center;
				.g-recaptcha{
					transform: scale(0.8);
					margin-left: -30px;
				}
			}
			@media only screen and (max-width: 1366px){
				button{
					margin-left: 30px;
					font-size: 15px;
				}
			}
			@media only screen and (max-width: 1290px){
				button{
					margin-left: 0;
					font-family: "KoHo-SemiBold";
				}

			}
			@media only screen and (max-width: 480px){
				padding: 30px 25px 40px;
				input,textarea{
					height: 30px;
					font-size: 15px;
				}
				textarea{
					height: 70px;
				}
				._item{
					margin-bottom: 25px;
				}
				._other{
					flex-direction: column;
					.g-recaptcha{
						transform: scale(0.65);
						margin-left: 0;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
.section_7{
	position: relative;
	width: 100%;
	padding: 0 percentage(1/12);
	z-index: 2;
	.home_title{
		h3{
			color: #626262;
		}
		h2{
			background: -webkit-linear-gradient(#A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    background: linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
	}
	._drums{
		position: absolute;
	    left: -17.5%;
    	bottom: -60%;
	    mix-blend-mode: color-dodge;
	    animation: rotate_all 6s infinite linear;
	    img{
	    	opacity: 0.02;
	    }
	}
	@media only screen and (max-width: 1024px){
		padding: 0 30px;
	}
	@media only screen and (max-width: 768px){
		.home_title{
			text-align: center;
		}
	}
	@media only screen and (max-width: 480px){
		padding: 0 20px;
		._drums{
		   	left: -17.5%;
    		bottom: -50%;
    		img{
    			width: 270px;
    		}
		}
	}
	
	._h_article_list{
		display: flex;
		margin-top: 45px;
		@media only screen and (max-width: 768px){
			display: none;
		}
		._left,._right{
			width: 50%;
		}
		._left{
			display: flex;
			._img{
				width: 50%;
				@include backgroundCoverCenter;
				min-height: 385px;
			}
			._text{
				width: 50%;
				padding: 25px 40px 20px 32px;
				._title{
					font-family: "KoHo-Bold";
					font-size: 24px;
					line-height: 1.2;
					color: #222121;
					a{
						color: #222121;
					}
				}
				._date{
					margin: 18px 0 22px;
					font-family: "KoHo-Regular";
					font-size: 14px;
					color: #946638;
					i{
						margin-right: 3px;
					}
				}
				._excerpt{
					font-family: "KoHo-Regular";
					font-size: 15px;
					color: #252525;
					line-height: 1.75;
					margin-bottom: 25px;
				}
			}
		}
		._right{
			position: relative;
			.swiper-container{
				padding-bottom: 58px;
			}
			._item{
				._img{
					width: 100%;
					@include backgroundCoverCenter;
					min-height: 232px;
				}
				._text{
					padding-top: 20px;
					._title{
						font-family: "KoHo-Bold";
						font-size: 16px;
						line-height: 1.5;
						color: #222121;
					}
					._date{
						margin: 10px 0;
						font-family: "KoHo-Regular";
						font-size: 14px;
						color: #946638;
						i{
							margin-right: 3px;
						}
					}
					._excerpt, ._read_more_def{
						display: none;
					}
				}
			}
			._load_all_def{
				position: absolute;
				z-index: 3;
				display: inline-block;
				margin-top: 34px;
				text-align: right;
				bottom: 0;
				right: 0;
			}
			
			.btn_prev_def{
				left: 0;
				&:before{
					position: absolute;
					content: "";
					top: 50%;
					left: calc(100% + 18px);
					width: 30px;
					height: 1px;
					background: #946638;
				}
			}
			.btn_next_def{
				left: 125px;
			}
		}
	}
	._h_article_list_mobi{
		display: none;
		@media only screen and (max-width: 768px){
			position: relative;
			display: block;
			margin-top: 30px;
			._item{
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				._img{
					width: percentage(170/335);
					@include backgroundCoverCenter;
					min-height: 170px;
				}
				._text{
					width: percentage(165/335);
					padding-left: 20px;
					._date{
						font-family: "KoHo-Regular";
						font-size: 15px;
						line-height: 20px;
						background: -webkit-linear-gradient(#A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
					    background: linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
					    -webkit-background-clip: text;
					    -webkit-text-fill-color: transparent;
					    i{
					    	margin-right: 5px;
					    	color: #B88F5C ;
					    	background: inherit;
					    }
					}
					._title{
						font-family: "KoHo-Bold";
						font-size: 16px;
						line-height: 20px;
						color: #626262;
					}
				}
			}
			._load_all_def{
				display: block;
				text-align: center;
				width: 100%;
				margin-top: 30px;
				font-size: 18px;
				background: -webkit-linear-gradient(#A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
			    background: linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			}
		}
		@media only screen and (max-width: 480px){
			._item{
				margin-bottom: 15px;
				._img{
					min-height: 125px;
				}
				._text{
					padding-left: 10px;
					._date{
						font-size: 14px;
					}
					._title{
						font-size: 15px;
						line-height: 18px;
					}
				}
			}
			._load_all_def{
				font-size: 16px;
			}
		}
	}
}
.section_5{
	position: relative;
	width: 100%;
	padding: 0 percentage(1/12);
	.home_title{
		h3{
			color: #4b4b4b;
		}
		h2{
			font-family: "SVN-Miller Banner Semibold";
			background: -webkit-linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    background: linear-gradient( #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
	}
	@media only screen and (max-width: 1024px){
		padding: 0 30px;
		.home_title{
			text-align: center;
		}
	}
	@include mediaMaxWidth(768px){
		padding: 0 20px;
	}
	._inner_wrap{
		margin-top: 48px;
		@media only screen and (max-width: 480px){
			margin-top: 30px;
		}
		.swiper-container{
			@media only screen and (max-width: 1024px){
				padding-bottom: 50px;
			}
			@media only screen and (max-width: 480px){
				padding-bottom: 0;
				margin-bottom: 20px;
			}
			.swiper-slide{
				display: flex;
				flex-wrap: wrap;
				._left{
					width: 50%;
					padding-top: 50px;
					overflow-x: hidden;
					._img_item{
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					}
					._title{
						font-family: "KoHo-Bold";
						font-size: 24px;
						color: #5d5d5d;
						line-height: 1.5;
						margin-bottom: 32px;
					}
					._content{
						padding: 50px 55px 48px;
						background-image: url('../../../images/home_mai/s5_bg_text.png');
						background-size: cover;
						background-position: center center;
						font-family: "KoHo-Regular";
						line-height: 1.5;
						color: #fff;
						font-size: 15px;
					}
					._img{
						display: flex;
						._img_item{
							width: 50%;
							min-height: 302px;
						}
					}
					@media only screen and (max-width: 768px){
						width: 100%;
						._title{
							text-align: center;
						}
						._img{
							display: none;
						}
					}
					@media only screen and (max-width: 480px){
						._content{
							padding: 30px 15px 32px 25px;
						}
					}

				}
				._right{
					width: 50%;
					overflow-x: hidden;
					._img_item{
						width: 100%;
						min-height: 100%;
						background-position: center;
						background-size: cover;
					}
					@media only screen and (max-width: 768px){
						width: 100%;
						height: 320px;
					}
				}
			}
			.btn_next_def,
			.btn_prev_def{
				top: 85px;
				bottom: auto;
				@media only screen and (max-width: 1024px){
					display: none;
				}
				@media only screen and (max-width: 768px){
					display: block;
					top: 30px;
				}
				@media only screen and (max-width: 480px){
					top: 30px;
					font-size: 14px;
				}
			}
			.btn_prev_def{
				left: 37%;
				&:before{
					position: absolute;
					content: "";
					top: 50%;
					left: calc(100% + 18px);
					width: 30px;
					height: 1px;
					background: #946638;
				}
				@include mediaMaxWidth(1440px){
					left: 34%;
				}
				@include mediaMaxWidth(1366px){
					left: 32%;
				}
				@include mediaMaxWidth(768px){
					left: 38%;
				}
				@media only screen and (max-width: 480px){
					left: 30%;
					&:before{
						left: calc(100% + 12px);
						width: 23px;
					}
				}
			}
			.btn_next_def{
				left: calc(37% + 125px);
				@include mediaMaxWidth(1440px){
					left: calc(34% + 125px);
				}
				@include mediaMaxWidth(1366px){
					left: calc(32% + 125px);
				}
				@include mediaMaxWidth(768px){
					left: calc(38% + 125px);
				}
				@media only screen and (max-width: 480px){
					left: calc(22% + 125px);
				}
			}
			.swiper-pagination{
				text-align: left;
				bottom: auto;
				top: 0;
				font-family: "KoHo-Regular";
				font-size: 18px;
				color: #5d5d5d;
				.swiper-pagination-current{
					font-family: "KoHo-Bold";
					font-size: 43.4px;
					margin-right: 3px;
				}
				.swiper-pagination-total{
					margin-left: 3px;
				}
				@media only screen and (max-width: 1024px){
					bottom: 0;
					top: auto;
					text-align: center;
					.swiper-pagination-bullet{
						width: 8px;
						height: 8px;
						margin: 0 12px 0;
						&:before{
							width: 20px;
							height: 20px;
						}
					}
				}
				@media only screen and (max-width: 480px){
					bottom: 15px;
				}
			}
		}
	}
}
.section_6{
	position: relative;
	width: 100%;
	padding: 300px percentage(1/12) 180px;
	background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -215px;
    @media only screen and (max-width: 1440px){
		padding: 300px percentage(1/12) 140px;
	}
	@media only screen and (max-width: 1024px){
		padding: 250px 30px 140px;
	}
	@media only screen and (max-width: 480px){
		padding: 300px 10px 140px;
    	margin-top: -280px;
	}
	.home_title{
		text-align: center;
		h3{
			color: #fff;
		}
		h2{
			font-family: "SVN-Miller Banner Semibold";
			background: -webkit-linear-gradient(#FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
		    background: linear-gradient( #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
	}
	._tab_library{
		margin: 35px 0 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			display: inline-block;
			font-family: "KoHo-Bold";
			font-size: 24px;
			color: #fff;
			padding: 0 75px;
			white-space: nowrap;
			cursor: pointer;
			&:hover{
				color: #fff;
			}
		}
		.swiper-slide{
			&.is-active{
				a{
					background: -webkit-linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
				    background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				}
			}
		}
		@media only screen and (max-width: 480px){
			margin: 30px 0 32px;
			a{
				padding: 0 38px;
				font-size: 16px;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev{
		top: 40%;
		background-image: none !important;
		opacity: 0;
		outline: none;
		transition: all 1s ease;
	}
	.gallery-top{
		.swiper-slide-active{
			.swiper-button-next,
			.swiper-button-prev{
				opacity: 1;
			}
		}
	}
	.pagination_all{
		.swiper-pagination-bullet{
			width: 6px;
			height: 6px;
			margin: 0 12px 0;
			&:before{
				width: 16px;
				height: 16px;
			}
		}
	}
	._h_document{
		position: relative;
		padding: 0 percentage(1/10);
		
		@media only screen and (max-width: 480px){
			padding: 0;
			.swiper-button-next,
			.swiper-button-prev{
				display: none;
			}
		}
		.swiper-container{
			padding-bottom: 70px;
			@media only screen and (max-width: 480px){
				padding-bottom: 60px;
			}
		}
		.swiper-slide{
			._top{
				height: 225px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #482915;
				._logo{
					max-height: 108px;
					filter: brightness(0) invert(1);
				}
				@media only screen and (max-width: 1440px){
					height: 195px;
				}
				@media only screen and (max-width: 480px){
					height: 120px;
					._logo{
						max-height: 80px;
					}
				}
			}
			._bottom{
				background-color: #5e3921;
				display: flex;
				align-items: center;
				._left{
					width: calc(100% - 160px);
					font-family: "KoHo-Regular";
					font-size: 16px;
					line-height: 1.5;
					color: #fff;
					padding: 10px 20px;
				}
				._right{
					text-align: center;
					width: 160px;
					height: 50px;
					line-height: 52px;
					color: #251105;
					font-family: "KoHo-SemiBold";
					text-transform: uppercase;
					font-size: 15px;
					background: linear-gradient(90deg, #d4ba81 0%, #c39760 51%, #b1753e 100%);
					transition: all .3s ease;
					&:hover{
						background: linear-gradient(270deg, #d4ba81 0%, #c39760 51%, #b1753e 100%);
					}
					img{
						margin-left: 4px;
    					margin-top: -5px;
					}
				}
				@media only screen and (max-width: 480px){
					._left{
						width: calc(100% - 140px);
						padding: 8px 12px;
					}
					._right{
						width: 140px;
						height: 40px;
						line-height: 42px;
						img{
							margin-left: 4px;
	    					margin-top: -5px;
						}
					}
				}
			}
		}
	}
	._h_gallery{
		position: relative;
		padding : 0 percentage(1/12);

		@media only screen and (max-width: 480px){
			padding: 0 ;
			.swiper-button-next,
			.swiper-button-prev{
				top: 115px;
				pointer-events: all !important;
				img{
					width: 16px;
				}
			}
			.swiper-button-next{
				right: -5px;
			}
			.swiper-button-prev{
				left: 5px;
			}
		}
		.swiper-container{
			padding: 0 percentage(1/10) 60px;
			@media only screen and (max-width: 480px){
				padding: 0 30px 60px;
			}
		}
		.swiper-slide{
			position: relative;
			&.swiper-slide-prev,
			&.swiper-slide-next{
				&:after{
					@include absoluteFull;
					content: "";
				   	background: #70452D;
					opacity: 0.8;
					transform: matrix(-1, 0, 0, 1, 0, 0);
				}
			}
			@media only screen and (max-width: 480px){
				&.swiper-slide-prev,
				&.swiper-slide-next{
					transform: translate3d(0px, -11px, -200px) rotateX(0deg) rotateY(0deg) !important;
				}
			}
			&:before{
				@include absoluteFull;
				content: "";
				background-image: url('../../../images/home_mai/s6_decor1.png');
				background-size: cover;
			    background-position: center bottom;
			    background-repeat: no-repeat;
			    @media only screen and (max-width: 480px){
			    	display: none;
			    }
			}
			._image{
				height: 545px;
				background-size: cover;
			    background-position: center center;
			    background-repeat: no-repeat;
			    img{
			    	width: 100%;
			    	height: auto;
			    	display: none;
				}
				@include mediaMaxWidth(1024px){
					height: 350px;
				}
			    @media only screen and (max-width: 480px){
			    	height: 210px;
			    }
			}
			._text{
				position: absolute;
				z-index: 2;
				bottom: 35px;
				left: 65px;
				right: 65px;
				color: #fff;
				text-align: center;
				display: none;
				transition: all .3s ease;
				._name{
					font-family: "KoHo-Bold";
					font-size: 20px;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				._excerpt{
					font-family: "KoHo-Regular";
					font-size: 15px;
				}
				@media only screen and (max-width: 768px){
					right: 30px;
					left: 30px;
				}
				@media only screen and (max-width: 480px){
					position: relative;
					bottom: 0;
					right: 0;
					left: 0;
					margin-top: 25px;
				}
			}
			&.swiper-slide-active{
				._text{
					display: block;
				}
			}
		}
	}
}
