body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
.home_title{
    h3{
        font-size: 20px;
        font-family: "KoHo-Regular";
        color: rgb(75, 75, 75);
        text-transform: uppercase;
        line-height: 1.875; 
        @include mediaMaxWidth(480px){
            font-size: 16px;
            line-height: 20px;
        }
    }
    h2{
        font-size: 36px;
        font-family: "SVN-Miller Banner Regular";
        color: rgb(49, 49, 49);
        line-height: 1.167;
        @include mediaMaxWidth(480px){
            font-size: 28px;
            line-height: 30px;
        }
    }
}
.social_pro__all{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: fixed;
    right: percentage(36/1440);
    bottom: 220px;
    z-index: 99;
    @include mediaMaxWidth(1024px){
        bottom: 50px;
        right: 30px;
    }
    @include  mediaMaxWidth(768px){
        display: none;
    }
    ._item{
        text-decoration: none;
        .__icon{
            width: 40px;
            height: 40px;
            background: #3c1f0d;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        &:nth-of-type(1){
            .__icon{
                border-bottom: 1px solid #563c2d;
            }
        }
        &:nth-of-type(1):hover, &:nth-of-type(2):hover{
            .__icon{
                img{
                    -webkit-animation-name: social_rotate;
                            animation-name: social_rotate;
                    -webkit-animation-duration: 0.5s;
                            animation-duration: 0.5s;
                    -webkit-animation-iteration-count: 1;
                            animation-iteration-count: 1;
                }
            }
        }
        &:last-child{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 23px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            position: relative;
            &:hover{
                .__phone_number{
                    letter-spacing: .05em;
                }
            }
            .__icon{
                background: linear-gradient(225deg, #c1ac56 0%, #ffeaa0 82%, #f3d355 100%);
                img{
                    -webkit-animation: hotline_icon 1s infinite ease-in-out;
                            animation: hotline_icon 1s infinite ease-in-out;
                }
                position: relative;
                z-index: 1;
            }
            .__phone_number{
                -webkit-transition: .3s;
                transition: .3s;
                line-height: 39px;
                padding: 0 72px 0 42px;
                background: #3c1f0d;
                font-size: 18px;
                font-family: "KoHo-Bold";
                color: rgb(255, 255, 255);
                position: absolute;
                right: 0;
                top: 0;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                border: 1px solid #c1ac56;
            }
        }
    }
}
@-webkit-keyframes social_rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(-15deg) scale(1.05);
                transform: rotate(-15deg) scale(1.05);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
}
@keyframes social_rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(-15deg) scale(1.05);
                transform: rotate(-15deg) scale(1.05);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
}
@-webkit-keyframes hotline_icon {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
    
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
}
@keyframes hotline_icon {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
    
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
                transform: rotate(0) scale(1) skew(1deg);
    }
}
.pagination_all{
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        margin: 0 20px;
        opacity: 1;
        position: relative;
        outline: none;
        @include mediaMaxWidth(480px){
            width: 8px;
            height: 8px;
            margin: 0 11px;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) scale(0);
                    transform: translate(-50%, -50%) scale(0);
            -webkit-transition: .3s;
            transition: .3s;
            z-index: -1;
            width: 32px;
            height: 32px;
            background-image: url('../../../images/homes/decor_pagination.png');
            background-size: contain;
            background-position: center;
            @include mediaMaxWidth(480px){
                width: 25px;
                height: 25px;
            }
        }
        &.swiper-pagination-bullet-active{
            &::before{
                -webkit-transform: translate(-50%, -50%) scale(1);
                        transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}
.homes_page{
    h1,h2,h3,h4,h5,p{
        margin: 0;
        font-weight: normal;
    }
    .section_1{
        position: relative;
        overflow: hidden;
        ._decor_header{
            position: absolute;
            z-index: 20;
            left: 0;
            right: 0;
            pointer-events: none;
            img{
                width: 100%;
            }
        }
        .swiper-container{
            .swiper-slide{
                overflow: hidden;
                ._banner{
                    width: 100%;
                    height: 100vh;
                    background-position: center bottom;
                    background-size: cover;
                    background-color: #ffffff;
                    position: relative;
                    @include mediaMaxWidth(768px){
                        height: calc(100vh - 75px);
                        &::before{
                            content: "";
                            @include absoluteFull;
                            background: linear-gradient(0.02deg, rgba(0, 0, 0, 0.52) 9.9%, rgba(0, 0, 0, 0.557897) 22.2%, rgba(0, 0, 0, 0) 38.38%);
                        }
                    }
                }
                &:nth-of-type(1){
                    ._banner{
                        ._item{
                            position: absolute;
                            left: -20px;
                            top: 0;
                            margin: 0;
                            right: -20px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: start;
                                -ms-flex-align: start;
                                    align-items: flex-start;
                            @include mediaMaxWidth(1024px){
                                display: none;
                            }
                            img{
                                width: 100%;
                            }
                            &:nth-of-type(1){
                                top: -10px;
                            }
                            &:nth-of-type(2){
                                margin-top: 11%;
                                left: -30px;
                                right: -30px;
                            }
                            &:nth-of-type(3){
                                margin-top: 23.8%;
                            }
                            &:nth-of-type(4){
                                margin-top: 0;
                                top: auto;
                                bottom: 0;
                                left: 0px;
                                right: -40px;
                            }
                        }
                    }
                    ._text{
                        position: absolute;
                        left: percentage(193/1440);
                        bottom: 245px;
                        z-index: 11;
                        color: rgb(255, 255, 255);
                        font-size: 24px;
                        @include mediaMaxWidth(1440px){
                            bottom: 170px;
                        }
                        @include mediaMaxWidth(1024px){
                            left: 30px;
                            right: 30px;
                        }
                        @include mediaMaxWidth(480px){
                            left: 24px;
                            right: 24px;
                            bottom: 80px;
                        }
                        h2{
                            font-family: "SVN-Miller Banner Semibold";
                            font-size: 36px;
                            line-height: 1.042;
                            text-transform: uppercase;
                            background: -webkit-gradient(linear, left top, right top, from(#c1ac56), color-stop(82%, #ffeaa0), to(#f3d355));
                            background: linear-gradient(90deg, #c1ac56 0%, #ffeaa0 82%, #f3d355 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            @include mediaMaxWidth(480px){
                                font-size: 26px;
                                line-height: 24px;
                                background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        .__info{
                            width: -webkit-max-content;
                            width: -moz-max-content;
                            width: max-content;
                            padding-left: 125px;
                            @include mediaMaxWidth(480px){
                                padding-left: 35px;
                            }
                            @include mediaMaxWidth(320px){
                                padding-left: 0;
                            }
                            p{
                                font-family: "KoHo-SemiBold";
                                font-size: 23px;
                                line-height: 0.867;

                                @include mediaMaxWidth(480px){
                                    font-size: 18px;
                                    line-height: 20px;
                                }
                                &:nth-of-type(2){
                                    padding-left: 210px;
                                    @include mediaMaxWidth(480px){
                                        padding-left: 135px;
                                    }
                                }
                                &:last-child{
                                    text-align: right;
                                    padding-right: 15px;
                                    font-size: 30px;
                                    line-height: 1.25;
                                    background: -webkit-gradient(linear, left bottom, left top, from(#c1ac56), color-stop(82%, #ffeaa0), to(#f3d355));
                                    background: linear-gradient(0deg, #c1ac56 0%, #ffeaa0 82%, #f3d355 100%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    font-family: "SVN-Miller Banner Semibold";
                                    @include mediaMaxWidth(480px){
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 24px;
                                        text-align: center;
                                        background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                        background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent; 
                                    }
                                }  
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    ._banner{
                        ._img{
                            top: -20px;
                            left: -20px;
                            right: -20px;
                            bottom: 0;
                            background-position: center bottom;
                            background-size: cover;
                            position: absolute;
                        }
                    }
                    ._human{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 8;
                        width: 40%;
                        max-width: 722px;
                        pointer-events: none;
                        @include mediaMaxWidth(1024px){
                            width: 65%;
                        }
                        img{
                            width: 100%;
                        }
                    }
                    &.swiper-slide-active{
                        ._text{
                            h2{
                                -webkit-transform: translateX(0);
                                        transform: translateX(0);
                                opacity: 1;
                            }
                            .__info{
                                p{
                                    &:nth-of-type(1){
                                        -webkit-transform: translateY(0px);
                                                transform: translateY(0px);
                                        opacity: 1;
                                    }
                                    &:nth-of-type(2){
                                        padding-left: 65px;
    
                                        -webkit-transform: translateY(0px);
    
                                                transform: translateY(0px);
                                        opacity: 1;
                                    }
                                    &:last-child{
                                        -webkit-transform: translateY(0px);
                                                transform: translateY(0px);
                                        opacity: 1;
                                    }  
                                }
                            }
                        }
                    }
                    ._text{
                        position: absolute;
                        left: percentage(120/1440);
                        bottom: 245px;
                        z-index: 11;
                        color: rgb(255, 255, 255);
                        font-size: 24px;
                        @include mediaMaxWidth(1440px){
                            bottom: 170px;
                        }
                        @include mediaMaxWidth(1024px){
                            left: 30px;
                            right: 30px;
                        }
                        @include mediaMaxWidth(480px){
                            bottom: 88px;
                            left: 20px;
                            right: 20px;
                        }
                        
                        h2{
                            font-family: "SVN-Miller Banner Semibold";
                            font-size: 27px;
                            line-height: 1.389;
                            text-transform: uppercase;
                            background: -webkit-gradient(linear, left top, right top, from(#c1ac56), color-stop(66%, #fff4ce), to(#f3d355));
                            background: linear-gradient(90deg, #c1ac56 0%, #fff4ce 66%, #f3d355 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-shadow: 0px 0px 11.05px rgba(26, 33, 37, 0.22);
                            -webkit-transform: translateX(-500px);
                                    transform: translateX(-500px);
                            opacity: 0;
                            -webkit-transition: .6s;
                            transition: .6s;
                            -webkit-transition-delay: .8s;
                                    transition-delay: .8s;
                            @include mediaMaxWidth(1024px){
                                font-size: 25px;
                            }
                            @include mediaMaxWidth(480px){
                                font-size: 21px;
                                line-height: 29px;
                                background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                -webkit-background-clip: text;
                                text-align: center;
                                -webkit-text-fill-color: transparent;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                            @include mediaMaxWidth(320px){
                                font-size: 18px;
                                line-height: 25px;
                            }
                        }
                        .__info{
                            width: -webkit-max-content;
                            width: -moz-max-content;
                            width: max-content;
                            @include mediaMaxWidth(480px){
                                width: auto;
                            }
                            p{
                                font-family: "KoHo-Regular";
                                &:nth-of-type(1){
                                    -webkit-transform: translateY(300px);
                                            transform: translateY(300px);
                                    opacity: 0;
                                    -webkit-transition: .6s;
                                    transition: .6s;
                                    -webkit-transition-delay: 1s;
                                            transition-delay: 1s;
                                    @include mediaMaxWidth(480px){
                                        display: none;
                                    }
                                }
                                &:nth-of-type(2){
                                    padding-left: 65px;

                                    -webkit-transform: translateY(300px);

                                            transform: translateY(300px);
                                    opacity: 0;
                                    -webkit-transition: .6s;
                                    transition: .6s;
                                    -webkit-transition-delay: 1.2s;
                                            transition-delay: 1.2s;
                                    @include mediaMaxWidth(480px){
                                        display: none;
                                    }
                                }
                                &:last-child{
                                    text-align: right;
                                    padding-right: 15px;
                                    font-size: 30px;
                                    line-height: 1.25;
                                    background: -webkit-gradient(linear, left top, right top, from(#c1ac56), color-stop(82%, #ffeaa0), to(#f3d355));
                                    background: linear-gradient(90deg, #c1ac56 0%, #ffeaa0 82%, #f3d355 100%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    font-family: "SVN-Miller Banner Semibold";
                                    text-shadow: 0px 0px 11.05px rgba(26, 33, 37, 0.22);

                                    -webkit-transform: translateY(300px);

                                            transform: translateY(300px);
                                    opacity: 0;
                                    -webkit-transition: .6s;
                                    transition: .6s;
                                    -webkit-transition-delay: 1.3s;
                                            transition-delay: 1.3s;
                                    @include mediaMaxWidth(480px){
                                        font-size: 18px;
                                        line-height: 24px;
                                        text-align: center;
                                        background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                        background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                        margin-right: 0;
                                    }
                                }  
                            }
                        }
                    }
                }
                &:nth-of-type(3){
                    ._banner{
                        background-position: center bottom;
                    }
                    ._decor{
                        width: 100%;
                        height: auto;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    &.swiper-slide-active{
                        ._text{
                            .__info{
                                -webkit-transform: translateX(0);
                                        transform: translateX(0);
                                opacity: 1;
                            }
                            h2{
                                -webkit-transform: translateX(0);
                                        transform: translateX(0);
                                opacity: 1;
                            }
                            ._label{
                                -webkit-transform: translateX(0);
                                        transform: translateX(0);
                                opacity: 1;
                            }
                        }
                        h1{
                            -webkit-transform: translateY(0);
                                    transform: translateY(0);
                            opacity: 0;
                        }
                    }
                    ._text{
                        position: absolute;
                        left: percentage(120/1440);
                        z-index: 11;
                        color: rgb(255, 255, 255);
                        bottom: 425px;
                        text-align: left;
                        z-index: 1;
                        max-width: 515px;
                        @include mediaMaxWidth(1600px){
                            bottom: 340px;
                        }
                        @include mediaMaxWidth(1536px){
                            bottom: 322px;
                        }
                        @include mediaMaxWidth(1440px){
                            bottom: 310px;
                        }
                        @include mediaMaxWidth(1366px){
                            bottom: 289px;
                            max-width: 485px;
                        }
                        @include mediaMaxWidth(1024px){
                            max-width: 515px;
                            left: 30px;
                            right: 30px;
                            bottom: 67%;
                            -webkit-transform: translateY(50%);
                                    transform: translateY(50%);
                        }
                        @include mediaMaxWidth(480px){
                            left: 20px;
                            right: 20px;
                            bottom: 88px;
                            -webkit-transform: unset;
                                    transform: unset;
                        }
                        .__info{
                            font-size: 20px;
                            line-height: 1.605;
                            font-family: "KoHo-Regular";

                            -webkit-transform: translateX(-350px);

                                    transform: translateX(-350px);
                            opacity: 0;
                            -webkit-transition: .8s;
                            transition: .8s;
                            -webkit-transition-delay: 1s;
                                    transition-delay: 1s;
                            @include mediaMaxWidth(1366px){
                                font-size: 18px;
                            }
                            @include mediaMaxWidth(1024px){
                                font-size: 20px;
                            }
                            @include mediaMaxWidth(480px){
                                display: none;
                            }
                        }
                        h2{
                            background: -webkit-gradient(linear, left top, right top, from(#a48b57), color-stop(19%, #d7ae57), color-stop(42%, #f7e287), color-stop(68%, #fff4c6), to(#d5ae56));
                            background: linear-gradient(90deg, #a48b57 0%, #d7ae57 19%, #f7e287 42%, #fff4c6 68%, #d5ae56 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 30px;
                            text-transform: uppercase;
                            line-height: 1.25; 
                            font-family: "SVN-Miller Banner Semibold";
                            text-shadow: 0px 0px 11.05px rgba(26, 33, 37, 0.22);
                            margin: 23px 0;

                            -webkit-transform: translateX(-350px);

                                    transform: translateX(-350px);
                            opacity: 0;
                            -webkit-transition: .8s;
                            transition: .8s;
                            -webkit-transition-delay: 1.2s;
                                    transition-delay: 1.2s;
                            @include mediaMaxWidth(1366px){
                                margin: 9px 0;
                                font-size: 24px;
                            }
                            @include mediaMaxWidth(1024px){
                                 margin: 15px 0;
                                font-size: 30px;
                            }
                            @include mediaMaxWidth(480px){
                                font-size: 21px;
                                line-height: 29px;
                                background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                -webkit-background-clip: text;
                                text-align: center;
                                -webkit-text-fill-color: transparent;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                margin: 0;
                            }
                            @include mediaMaxWidth(320px){
                                font-size: 18px;
                                line-height: 25px;
                            }
                        }
                        ._label{
                            background: -webkit-gradient(linear, left top, right top, from(#d7a769), color-stop(99%, #e7d6b2));
                            background: linear-gradient(90deg, #d7a769 0%, #e7d6b2 99%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 28px;
                            font-family: "SVN-Miller Banner Semibold";
                            line-height: 1.342;

                            -webkit-transform: translateX(-350px);

                                    transform: translateX(-350px);
                            opacity: 0;
                            -webkit-transition: .8s;
                            transition: .8s;
                            -webkit-transition-delay: 1.4s;
                                    transition-delay: 1.4s;
                            @include mediaMaxWidth(1366px){
                                font-size: 24px;
                            }
                            @include mediaMaxWidth(1024px){
                                font-size: 28px;
                            }
                            @include mediaMaxWidth(480px){
                                font-size: 18px;
                                line-height: 24px;
                                text-align: center;
                                background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                margin-right: 0;
                            }
                        }
                    }
                    h1{
                        font-size: 48px;
                        font-family: "SVN-Miller Banner Black";
                        color: rgb(255, 255, 255);
                        text-transform: uppercase;
                        line-height: normal;
                        text-align: center;
                        text-shadow: 0px 4px 15.3px rgba(26, 33, 37, 0.28);
                        position: absolute;
                        bottom: 155px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        z-index: 1;
                        background: linear-gradient(150deg, #e0bc74 47%, #cf9143 50%, #cf9143 -18%, #e2c27c 58%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        -webkit-transform: translateY(350px);

                                transform: translateY(350px);
                        opacity: 0;
                        -webkit-transition: .6s;
                        transition: .6s;
                        -webkit-transition-delay: .8s;
                                transition-delay: .8s;
                        @include mediaMaxWidth(1366px){
                            bottom: 135px;
                            font-size: 43px;
                        }
                        @include mediaMaxWidth(480px){
                            display: none;
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom: 120px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            .swiper-pagination-bullet{
                &::before{
                    transform: translate(-50%, -50%) scale(1) !important;
                    background: none;
                    border: 1px solid transparent;
                    border-radius: 50%;
                }
                &.swiper-pagination-bullet-active{
                    &::before{
                        animation: circle .4s .25s forwards;
                    }
                }
                @keyframes circle {
                    0% {
                        border-color: transparent;
                        -webkit-transform: translate(-50%, -50%) scale(1) rotate(0) !important;
                    }
                    25% {
                        border-color: #fff transparent transparent transparent;
                    }
                    50% {
                        border-color: #fff #fff transparent transparent;
                    }
                    75% {
                        border-color: #fff #fff #fff transparent;
                    }
                    100% {
                        border-color: #fff;
                        -webkit-transform:  translate(-50%, -50%) scale(1) rotate(-680deg) !important;
                    }
                }
            }
            @include mediaMaxWidth(1366px){
                bottom: 98px;
            }
            @include mediaMaxWidth(480px){
                bottom: 40px;
            }
        }
        ._decor_bt{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 9;
            pointer-events: none;
            img{
                width: 100%;
            }
        }
        ._scroll_down{
            font-size: 15px;
            color: rgb(165, 109, 58);
            line-height: 2.5;
            position: absolute;
            font-family: "KoHo-Bold";
            left: percentage(120/1440);
            bottom: 50px;
            z-index: 12;
            @include mediaMaxWidth(1024px){
                left: 30px;
            }
            @include mediaMaxWidth(768px){
                display: none;
            }
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 30px;
                bottom: -28px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                background-color: rgb(165, 109, 58);
                -webkit-animation: scroll_down 1.5s infinite ease-in-out;
                        animation: scroll_down 1.5s infinite ease-in-out;
            }
        }
    }
    @-webkit-keyframes scroll_down {
        0%{
            -webkit-transform: translateX(-50%) translateY(-3px);
                    transform: translateX(-50%) translateY(-3px);
        }
        25%{
            -webkit-transform: translateX(-50%) translateY(0px);
                    transform: translateX(-50%) translateY(0px);
        }
        50%{
            -webkit-transform: translateX(-50%) translateY(3px);
                    transform: translateX(-50%) translateY(3px);
        }
        75%{
            -webkit-transform: translateX(-50%) translateY(0px);
                    transform: translateX(-50%) translateY(0px);
        }
        100%{
            -webkit-transform: translateX(-50%) translateY(-3px);
                    transform: translateX(-50%) translateY(-3px);
        }
    }
    @keyframes scroll_down {
        0%{
            -webkit-transform: translateX(-50%) translateY(-3px);
                    transform: translateX(-50%) translateY(-3px);
        }
        25%{
            -webkit-transform: translateX(-50%) translateY(0px);
                    transform: translateX(-50%) translateY(0px);
        }
        50%{
            -webkit-transform: translateX(-50%) translateY(3px);
                    transform: translateX(-50%) translateY(3px);
        }
        75%{
            -webkit-transform: translateX(-50%) translateY(0px);
                    transform: translateX(-50%) translateY(0px);
        }
        100%{
            -webkit-transform: translateX(-50%) translateY(-3px);
                    transform: translateX(-50%) translateY(-3px);
        }
    }


    .section_2{
        padding: 50px calc(100%/12) 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: relative;
        z-index: 1;
        @include mediaMaxWidth(1024px){
            padding: 50px 30px 0;
        }
        @include mediaMaxWidth(768px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 70px 0 0;
        }
        @include mediaMaxWidth(480px){
            padding: 80px 0 0;
        }
        ._txt{
            font-family: "KoHo-Regular";
        }
        ._img{
            img{
                width: 100%;
                height: auto;
            }

            &._video{
                position: relative;
                .__transfrom{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                }
                .__play{
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // -webkit-transform: translate(-50%, -50%);
                    //         transform: translate(-50%, -50%);
                    width: 65px;
                    height: 65px;
                    background: #ffffffad;
                    border-radius: 50%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    img{
                        width: auto;
                    }
                }
            }
        }
        ._left{
            width: calc((100% * 6)/10);
            position: relative;
            z-index: 1;
            @include mediaMaxWidth(768px){
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
            .home_title{
                text-align: center;
                @include mediaMaxWidth(768px){
                    -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                            order: 1;
                }
                h3{
                    color: #4b4b4b;
                }
                h2{
                    background: -webkit-gradient(linear, left top, right top, from(#a56d3a), color-stop(50%, #b88f5c), to(#cbb482));
                    background: linear-gradient(90deg, #a56d3a 0%, #b88f5c 50%, #cbb482 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            ._img{
                @include mediaMaxWidth(768px){
                    -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                            order: 2;
                    margin-top: 40px;
                }
            }
            ._txt{
                margin: 50px 0 40px;
                font-size: 16px;
                color: rgb(49, 49, 49);
                line-height: 1.875;
                @include mediaMaxWidth(768px){
                    -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                            order: 3;
                    margin: 40px 0;
                }
                @include mediaMaxWidth(768px){
                    padding: 0 30px;
                    text-align: justify;
                }
                @include mediaMaxWidth(480px){
                    padding: 0 20px;
                    margin: 26px 0;
                }
            }
        }
        ._right{
            width: calc((100% * 4)/10);
            padding-left: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            position: relative;
            z-index: 1;
            @include mediaMaxWidth(1024px){
                padding-left: 30px;
            }
            @include mediaMaxWidth(768px){
                width: 100%;
                padding-left: 0;
            }
            @include mediaMaxWidth(768px){
                padding: 0px 30px;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            @include mediaMaxWidth(480px){
                padding: 0 20px;
            }
            ._txt{
                margin: 40px 0 45px 0;
                font-size: 15px;
                color: rgb(49, 49, 49);
                line-height: 1.667;
                text-align: justify;
                @include mediaMaxWidth(480px){
                    margin: 26px 0;
                }
                p{
                    margin-bottom: 20px;
                    @include mediaMaxWidth(480px){
                        margin-bottom: 15px;
                    }
                }
            }
            .see_more{
                display: block;
                width: 160px;
                height: 40px;
                background: -webkit-gradient(linear, left top, right top, from(#b1753e), color-stop(51%, #c39760), to(#d4ba81));
                background: linear-gradient(90deg, #b1753e 0%, #c39760 51%, #d4ba81 100%);
                color: #ffffff;
                text-align: center;
                line-height: 40px;
                font-size: 16px;
                font-family: "KoHo-Bold";
                text-transform: uppercase;
                text-decoration: none;
                -webkit-transition: .3s;
                transition: .3s;
                &:hover{
                    background: -webkit-gradient(linear, right top, left top, from(#b1753e), color-stop(51%, #c39760), to(#d4ba81));
                    background: linear-gradient(270deg, #b1753e 0%, #c39760 51%, #d4ba81 100%);
                }
            }
        }
    }

    .section_3{
        margin-top: -240px;
        position: relative;
        @include mediaMinWidth(1920px){
            margin-top: -370px;
        }
        @include mediaMaxWidth(768px){
            margin-top: -200px;
        }
        @include mediaMaxWidth(480px){
            margin-top: -85px;
        }
        ._drums{
            position: absolute;
            top: 100px;
            right: 0px;
            @include mediaMaxWidth(768px){
                top: -50px;
            }
        }
        ._forest{
            position: relative;
            img{
                width: 100%;
                height: auto;
            }
            ._decor{
                position: absolute;
                width: 100%;
                height: auto;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: .8;
            }
        }
        ._layer{
            background-color: #351908;
            position: relative;
            &::before{
                content: "";
                @include absoluteFull;
                top: -50px;
                background-image: url('../../../images/homes/s3_decor.png');
                background-position: bottom right;
                background-size: cover;
                @include mediaMaxWidth(768px){
                    top: -20px
                }
            }
            .home_title{
                text-align: center;
                position: relative;
                z-index: 1;
                h3{
                    font-size: 18px;
                    color: rgb(167, 123, 101);
                    line-height: 2.083;
                }
                h2{
                    background: -webkit-gradient(linear, left bottom, left top, from(#c1ac56), color-stop(50%, #ffeaa0), to(#f3d355));
                    background: linear-gradient(0deg, #c1ac56 0%, #ffeaa0 50%, #f3d355 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    line-height: 1.042;
                }
            }
            ._content{
                padding: 55px percentage(120/1440) 100px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                z-index: 1;
                @include mediaMaxWidth(1024px){
                    padding: 55px 30px 100px;
                }
                @include mediaMaxWidth(480px){
                    padding: 33px 20px 0;
                }
                ._item{
                    width: 50%;
                    overflow: hidden;
                    @include mediaMaxWidth(768px){
                        width: 100%;
                    }
                    ._img{
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        .__bg{
                            .swiper-container{
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                visibility: hidden;
                                @include mediaMaxWidth(768px){
                                    opacity: 1;
                                    visibility: visible;
                                    &::before{
                                        @include absoluteFull;
                                        content: "";
                                        background: -webkit-gradient(linear, left bottom, left top, color-stop(-14.63%, #000000), color-stop(4.85%, rgba(0, 0, 0, 0.605545)), color-stop(24.15%, rgba(0, 0, 0, 0)));
                                        background: linear-gradient(0deg, #000000 -14.63%, rgba(0, 0, 0, 0.605545) 4.85%, rgba(0, 0, 0, 0) 24.15%);
                                        z-index: 5;
                                    }
                                }
                                .swiper-slide{
                                    width: 100%;
                                    height: 100%;
                                    background-position: center;
                                    background-size: cover;
                                }
                                .pagination_all{
                                    .swiper-pagination-bullet{
                                        margin: 0 22px;
                                        @include mediaMaxWidth(480px){
                                            margin: 0 11px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(1){
                        @include mediaMaxWidth(768px){
                            display: none;
                        }
                    }
                    &:nth-of-type(2){
                        min-height: 624px;
                        @include mediaMaxWidth(480px){
                            min-height: unset;
                        }
                        ._img{
                            width: 100%;
                            height: 382px;
                            @include mediaMaxWidth(480px){
                                height: 294px;
                            }
                            .__bg{
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-size: cover;
                            }
                        }
                        ._info{
                            background: #542b12;
                            padding: 45px 45px 50px;
                            color: rgb(255, 255, 255);
                            @include mediaMaxWidth(480px){
                                padding: 31px 12px 31px 28px;
                            }
                            ._label{
                                font-size: 24px;
                                line-height: 1.563;
                                font-family: "KoHo-Bold";
                                @include mediaMaxWidth(480px){
                                    font-size: 18px;
                                    line-height: 23px;
                                }
                            }
                            ._txt{
                                font-size: 15px;
                                line-height: 1.4;
                                font-family: "KoHo-Regular";
                                margin: 25px 0 27px;
                                @include mediaMaxWidth(480px){
                                    margin: 13px 0 19px;
                                }
                            } 
                            ._see_more{
                                font-size: 15px;
                                font-family: "KoHo-Bold";
                                color: rgb(255, 255, 255);
                                font-weight: bold;
                                line-height: 1.4;
                                text-decoration: none;
                                -webkit-transition: .3s;
                                transition: .3s;
                                padding-left: 40px;
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    height: 1px;
                                    width: 30px;
                                    left: 0;
                                    top: 12px;
                                    background: rgb(255, 255, 255);
                                }
                                &:hover{
                                    letter-spacing: .05em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_4{
        background-color: #351908;
        @include mediaMaxWidth(480px){
            padding-top: 65px;
        }
        ._title_mobie{
            display: none;
            @include mediaMaxWidth(768px){
                display: block;
                margin-bottom: 70px;
            }
            @include mediaMaxWidth(480px){
                margin-bottom: 71px;
            }
            .home_title{
                text-align: center;
                h3{
                    font-size: 18px;
                    color: rgb(167, 123, 101);
                    line-height: 2.083;
                }
                h2{
                    background: linear-gradient(88deg, #d39862 0%, #e0b783 50%, #d4ba81 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    line-height: 1.042;
                }
            }
        }
        ._content{
            padding: 28px percentage(110/1440) 0 percentage(120/1440);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            @include mediaMaxWidth(1024px){
                padding: 28px 30px 0 30px;
            }
            @include mediaMaxWidth(768px){
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                padding: 28px 0 0;
            }
            @include mediaMaxWidth(480px){
                padding: 0;
            }
            ._left{
                width: percentage(620/1440);
                padding-right: percentage(184/1440);
                position: relative;
                z-index: 1;
                @include mediaMaxWidth(1024px){
                    padding-right: 30px;
                }
                @include mediaMaxWidth(768px){
                    width: 100%;
                    margin-right: 0;
                    -webkit-box-ordinal-group:3;
                        -ms-flex-order:2;
                            order:2;
                    padding: 0 30px;
                }
                @include mediaMaxWidth(480px){
                    padding: 0 20px;
                }
                .home_title{
                    text-align: left;
                    @include mediaMaxWidth(768px){
                        display: none;
                    }
                    h3{
                        font-size: 18px;
                        color: rgb(167, 123, 101);
                        line-height: 2.083;
                    }
                    h2{
                        background: linear-gradient(88deg, #d39862 0%, #e0b783 50%, #d4ba81 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        line-height: 1.042;
                    }
                }

                ._txt{
                    color: rgb(255, 255, 255);
                    font-size: 15px;
                    font-family: "KoHo-Regular";
                    color: rgb(255, 255, 255);
                    line-height: 1.733;
                    margin: 35px 0 45px;
                    p{
                        margin-bottom: 30px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        @include mediaMaxWidth(480px){
                            margin-bottom: 15px;
                        }
                    }
                    @include mediaMaxWidth(480px){
                        margin: 49px 0 27px;
                    }
                }
                ._map{
                    span{
                        background: linear-gradient(88deg, #d39862 0%, #e0b783 50%, #d4ba81 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 15px;
                        font-family: "KoHo-Bold";
                        color: rgb(255, 255, 255);
                        text-transform: uppercase;
                        line-height: 1.733;
                        display: inline-block;
                        position: relative;
                        -webkit-transition: .4s;
                        transition: .4s;
                        &:hover{
                            letter-spacing: .05em;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1px;
                            background-image: url('../../../images/homes/line_location.png');
                        }
                    }
                    img{
                        margin-right: 10px;
                    }
                }
            }
            ._right{
                width: 100% - percentage(620/1440);
                position: relative;
                z-index: 1;
                @include mediaMaxWidth(768px){
                    width: 100%;
                    margin-right: 0;
                    -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                            order: 1;
                    padding: 0 50px;
                }
                @include mediaMaxWidth(480px){
                    padding: 0 10px;
                }
                ._location{
                    width: 100%;
                    padding: 24px;
                    border-radius: 50%;
                    background-color: rgb(51, 30, 17);
                    @include mediaMaxWidth(480px){
                        padding: 10px;
                    }
                    ._bg{
                        border-radius: 50%;
                        width: 100%;
                        position: relative;
                        .__image{
                            img{
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        .__list_tool{
                            ._item{
                                position: absolute;
                                -webkit-transform-style: preserve-3d;
                                        transform-style: preserve-3d;
                                -webkit-backface-visibility: hidden;
                                        backface-visibility: hidden;
                                display: block;
                                top: 0;
                                left: 0;
                                margin: 0;
                                z-index: 1;
                                @include mediaMaxWidth(480px){
                                    &.is_active{
                                        z-index: 10;
                                        ._discription{
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                                ._icon{
                                    position: relative;
                                    img{
                                        &:nth-of-type(1){
                                            @include mediaMaxWidth(480px){
                                                width: 70px;
                                            }
                                        }
                                        &:nth-of-type(2){
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translate(-50%, -50%);
                                                    transform: translate(-50%, -50%);
                                            @include mediaMaxWidth(480px){
                                                width: 50%;
                                            }
                                        }
                                    }
                                }
                                ._discription{
                                    position: absolute;
                                    width: -webkit-max-content;
                                    width: -moz-max-content;
                                    width: max-content;
                                    color: #ffffff;
                                    font-size: 14px;
                                    font-family: "KoHo-Regular";
                                    color: rgb(255, 255, 255);
                                    line-height: 1.857;
                                    background-color: #542b12;
                                    border: 1px solid;
                                    border-image-source: linear-gradient(0deg, #a48b57 1%, #d7ae57 19%, #f7e287 42%, #fff4c6 68%, #d5ae56 97%);
                                    border-image-slice: 10;
                                    padding: 0 18px;
                                    left: 50%;
                                    -webkit-transform: translateX(-50%);
                                            transform: translateX(-50%);
                                    bottom: -40px;
                                    min-height: 35px;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                        -ms-flex-align: center;
                                            align-items: center;
                                    -webkit-transition: .3s;
                                    transition: .3s;
                                    @include mediaMaxWidth(480px){
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }
                                &:nth-of-type(1){
                                    left: 43%;
                                    margin-top: -8.5%;
                                    @include mediaMaxWidth(480px){
                                        margin-top: -12.5%;
                                    }
                                }
                                &:nth-of-type(2){
                                    left: 82%;
                                    top: 9%;
                                    @include mediaMaxWidth(1024px){
                                        ._discription{
                                            left: -15%;
                                        }
                                    }
                                    @include mediaMaxWidth(768px){
                                        ._discription{
                                            left: 15%;
                                        }
                                    }
                                    @include mediaMaxWidth(480px){
                                        left: 74%;
                                        top: 11%;
                                        ._discription{
                                            left: -40%;
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                                    left: 92%;
                                    top: 44%;
                                    @include mediaMaxWidth(1024px){
                                        ._discription{
                                            left: -63%;
                                        }
                                    }
                                    @include mediaMaxWidth(768px){
                                        ._discription{
                                            left: -40%;
                                        }
                                    }
                                    @include mediaMaxWidth(480px){
                                        left: 81%;
                                        top: 46%;
                                        ._discription{
                                            left: -80%;
                                        }
                                    }
                                }
                                &:nth-of-type(4){
                                    left: 74%;
                                    top: 78%;
                                    @include mediaMaxWidth(480px){
                                        left: 62%;
                                        top: 77%;
                                        ._discription{
                                            left: -4%;
                                        }
                                    }
                                }
                                &:nth-of-type(5){
                                    left: 16.3%;
                                    top: 78%;
                                    @include mediaMaxWidth(480px){
                                        left: 18.3%;
                                        top: 77%;
                                    }
                                }
                                &:nth-of-type(6){
                                    left: -1.7%;
                                    top: 49%;
                                    @include mediaMaxWidth(768px){
                                        ._discription{
                                            left: 88%;
                                        }
                                    }
                                    @include mediaMaxWidth(768px){
                                        ._discription{
                                            left: 145%;
                                        }
                                    }
                                }
                                &:nth-of-type(7){
                                    left: 4.3%;
                                    top: 14%;
                                    @include mediaMaxWidth(480px){
                                        left: 2.3%;
                                        top: 14%;
                                        ._discription{
                                            left: 130%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        ._elephants{
            margin-top: -30px;
            position: relative;
            @include mediaMaxWidth(480px){
                margin-top: 50px;
            }
            ._image{
                width: 100%;
                position: relative;
                z-index: 1;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    &:nth-of-type(1){
                        @include mediaMaxWidth(480px){
                            display: none;
                        }
                    }
                    &:nth-of-type(2){
                        display: none;
                        @include mediaMaxWidth(480px){
                            display: block;
                        }
                    }
                }
            }
            ._loaf{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                margin-bottom: -10px;
                z-index: 2;
                img{
                    width: 100%;
                }
                @include mediaMaxWidth(480px){
                    display: none;
                }
            }
            ._drums{
                position: absolute;
                left: -108px;
                bottom: 27px;
                mix-blend-mode: color-dodge;
                -webkit-animation: rotate_all 6s infinite linear;
                        animation: rotate_all 6s infinite linear;
                @include mediaMaxWidth(768px){
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
                @include mediaMaxWidth(480px){
                    width: 75%;
                    left: -65px;
                    bottom: 16px;
                }
            }
        }
    }
}

@-webkit-keyframes rotate_all{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate_all{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}