._landing_sapphire_sea{
	position: relative;
	max-width: 1440px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	.btn_register{
		display: block;
		margin: 0 auto;
		width: 314px;
		height: 60px;
		background: #FFBF00;
		border-radius: 10px;
		font-family: 'Montserrat-Bold';
		font-size: 12px;
		line-height: 150%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: #353430;
	}
	.btn_next,
	.btn_prev{
		top: 92px;
		transform: translateY(0);
		width: 50px;
		height: 50px;
		background: #DBDBDB;
		border: 2px solid #DBDBDB;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		transition: all .3s ease;
		img{
			filter: grayscale(1);
			-webkit-filter: grayscale(1);
			transition: all .3s ease;
		}
		&:hover{
			border: 2px solid #FFBF00;
			background-color: #fff;
			img{
				filter: grayscale(0);
				-webkit-filter: grayscale(0);
			}
		}
	}
	.btn_next{
		right: auto;
		left: 13.5%;
	}
	.btn_prev{
		transform: translateY(0) rotate(-180deg);
		left: percentage(105/1240);
	}
	.panigation_def{
		position: relative;
		margin: 20px auto 30px;
		.swiper-pagination-bullet{
			width: 12px;
			height: 12px;
			background: #B1B1B1;
			outline: none;
			margin: 0 10px !important;
			opacity: 1;
			&.swiper-pagination-bullet-active{
				background: #FFBF00;
			}
		}
	}
	.sps_s1{
		width: 100%;
		position: relative;
		
		._slide_img{
			position: relative;
			.swiper-container{
				z-index: unset;
				.swiper-slide{
					padding-bottom: 85px;
					&:before{
						position: absolute;
						content: "";
						bottom: 0;
						left: 0;
						width: 100%;
						height: 68%;
						z-index: 2;
						background: linear-gradient(360deg, #103C5F 39.72%, rgba(19, 83, 116, 0.82) 46.19%, rgba(25, 127, 155, 0.6) 52.66%, rgba(35, 133, 155, 0) 58.78%);
					}
					img{
						width: 100%;
						height: auto;
					}
					._text_general{
						position: absolute;
						z-index: 2;
						text-transform: uppercase;
						color: #FFFFFF;
						text-align: center;
						left: percentage(42/1240);
						bottom: 220px;
						width: percentage(755/1240);
						p{
							margin: 0;
							&:nth-of-type(1){
								font-family: 'Trajan Pro Bold';
								font-size: 21px;
								line-height: 120%;
								._big{
									font-size: 150px;
									line-height: 120%;
									color: #FFC92C;
								}
							}
							&:nth-of-type(2){
								font-family: 'iCielGotham-Light';
								font-size: 25px;
								line-height: 120%;
								margin-top: -20px;
							}
						}
					}

				}
			}
		}
		._content_general{
			position: absolute;
			z-index: 2;
			left: percentage(42/1240);
			bottom: 50px;
			width: percentage(755/1240);
			._intro_general{
				display: flex;
				._item{
					display: flex;
					align-items: center;
					width: percentage(1/3);
					._text{
						padding-left: 15px;
						p{
							font-family: 'Montserrat-Regular';
							font-size: 10px;
							line-height: 12px;
							color: #FFFFFF;
							font-weight: 500;
							margin: 0;
							&:nth-of-type(1){
								text-transform: uppercase;
							}
							&:nth-of-type(2){
								font-family: 'Trajan Pro Bold';
								font-size: 40px;
								line-height: 150%;
								span{
									font-size: 21px;
								}
							}
						}
					}
				}
			}
		}
		
	}
	.sps_s2{
		position: relative;
		padding: 44px 0 36px;
		._label{
			padding: 0 percentage(105/1240);
			margin-bottom: 40px;
			text-transform: uppercase;
			text-align: right;
			._small{
				font-family: 'iCielGotham-Bold';
				font-size: 24px;
				line-height: 150%;
				color: #7E7E7E;
			}
			._big{
				font-family: UTM Trajan Pro Bold; 
				font-size: 32px;
				line-height: 150%;
				color: #FFCC2C;
			}
		}
		._slide_intro{
			position: relative;
			width: 100%;
			padding: 0 percentage(105/1240);
			margin-bottom: 35px;
			&:before,
			&:after{
				position: absolute;
				content: "";
				z-index: 2;
				top: 0;
				width: percentage(74/1240);
				height: 100%;
				background: linear-gradient(90deg, #FFFFFF 71.93%, rgba(255, 255, 255, 0) 97.67%);
			}
			&:before{
				left: 0;
			}
			&:after{
				right: -1px;
				transform: rotate(-180deg);
			}
			.swiper-container{
				position: relative;
				overflow: inherit;
				.swiper-slide{
					._img{
						position: relative;
						height: 320px;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						._decor{
							position: absolute;
							right: 0;
							bottom: 0;
							z-index: 2;
						}
					}
					._title{
						font-family: 'Montserrat-Bold';
						font-size: 18px;
						line-height: 150%;
						color: #353430;
						text-transform: uppercase;
						margin: 22px 0 15px;
					}
					._text{
						font-family: 'Montserrat-Regular';
						font-size: 12px;
						line-height: 150%;
						color: #353430;
						ul{
							li{
								position: relative;
								padding-left: 42px;
								margin-bottom: 15px;
								&:before{
									position: absolute;
									content: "";
									left: 0;
									top: 7px;
									width: 30px;
									height: 5px;
									background: #FFCC2D;
								}
							}
						}

					}
				}
			}
		}		
	}
	.sps_s3{
		position: relative;
		background-color: #0A253A;
		padding: 35px 0 52px;
		._label{
			padding: 0 percentage(105/1240);
			margin-bottom: 40px;
			font-family: UTM Trajan Pro Bold; 
			font-size: 40px;
			line-height: 150%;
			text-align: right;
			text-transform: uppercase;
			color: #FFBF00;
		}
		._slide_img{
			position: relative;
			width: 100%;
			padding: 0 percentage(105/1240);
			&:before,
			&:after{
				position: absolute;
				content: "";
				z-index: 2;
				top: 0;
				width: percentage(95/1240);
				height: 42px;
				background: #0A253A;
			}
			&:before{
				left: 0;
			}
			&:after{
				right: -1px;
			}
			.swiper-container{
				position: relative;
				overflow: inherit;
				.swiper-slide{
					._img{
						position: relative;
						height: 390px;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					}
				}
			}
		}	
		.btn_next,
		.btn_prev{
			top: 65px;
		}
		.btn_register{
			background-color: #FFBF00;
		}
		.panigation_def{
			margin: 45px auto 40px;
		}
	}
	.sps_s7{
		position: relative;
		background-color: #0A253A;
		padding: 215px percentage(65/1240) 95px percentage(145/1240);
		display: flex;
		flex-wrap: wrap;
		._decor{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			pointer-events: none;
		}
		._logo{
			width: percentage(327/1030);
		}
		._intro{
			display: flex;
			width: percentage(703/1030);
			padding-left: percentage(145/1240);
			font-family: 'Montserrat-Regular';
			font-size: 12px;
			line-height: 155%;
			color: #FFFFFF;
			._title{
				font-family: 'Montserrat-Bold';
				text-transform: uppercase;
				margin-bottom: 16px;
			}
			._content{
				a{
					color: #fff;
				}
				p{
					margin-bottom: 15px;
				}
			}
			._item{
				&:nth-of-type(1){
					width: percentage(373/703);
					padding-right: percentage(92/703);
				}
				&:nth-of-type(2){
					width: percentage(330/703);
				}
			}

		}
	}
	.sps_s5{
		position: relative;
		padding-bottom: 115px;
		background-color: #fff;
		._label{
			padding: 110px 15px 15px;
			font-family: UTM Trajan Pro Bold; 
			font-size: 40px;
			line-height: 150%;
			text-align: center;
			text-transform: uppercase;
			color: #FFBF00;
			background-color: #0A253A;
		}
		._video{
			iframe{
				width: 100%;
				height: 660px;
			}
		}
		._intro_summary{
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: percentage(1030/1240);
			background: #0A253A;
			box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			display: flex;
			padding: 16px 0;
			._item{
				width: 25%;
				font-family: 'Montserrat-Regular';
				line-height: 150%;
				font-size: 12px;
				color: #fff;
				text-align: center;
				padding: 40px 10px 20px;
				border-right: 1px solid #fff;
				p{
					margin: 0;
					&:nth-of-type(1){
						text-transform: uppercase;
						span{
							font-family: UTM Trajan Pro Bold; 
							font-size: 56px;
						}
					}
				}
				&:last-child{
					border-right: 0;
				}
			}
		}
	}
}