.banner_page{
    height: 483px;
    width: 100%;
    position: relative;
    background-position: top center;
    background-size: cover;
    @include mediaMaxWidth(480px){
        height: 320px;
    }
    &::before{
        content: "";
        @include absoluteFull;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(-11.33%, #000000), color-stop(28.19%, rgba(0, 0, 0, 0)));
        background: linear-gradient(180deg, #000000 -11.33%, rgba(0, 0, 0, 0) 28.19%);
        z-index: 1;
    }
    &::after{
        content: "";
        @include absoluteFull;
        z-index: 1;
        background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(31.89%, rgba(0, 0, 0, 0)));
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 31.89%);
    }
    ._decor{
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 100%;
        img{
            width: 100%;
        }
    }
    h2{
        position: absolute;
        bottom: 75px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        z-index: 4;
        font-family: "SVN-Miller Banner Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
        background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include mediaMaxWidth(480px){
            font-size: 26px;
            bottom: 26px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 1px;
            height: 82px;
            bottom: -82px;
            background: #EFCB80;
            @include mediaMaxWidth(480px){
                height: 42px;
                bottom: -50px;
            }
        }
    }
}

.news{
    padding: 39px percentage(120/1440) 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    z-index: 1;
    @include mediaMaxWidth(1024px){
        padding: 39px 30px 0;
    }
    @include mediaMaxWidth(480px){
        padding: 39px 15px 0;
    }
    ._item{
        width: calc((100% - 60px) / 3);
        margin-bottom: 30px;
        @include mediaMaxWidth(768px){
            width: calc((100% - 30px)/2);
        }
        @include mediaMaxWidth(480px){
            width: 100%;
            margin-bottom: 15px;
        }
        &:first-child{
            width: 100% !important;
            margin-bottom: 43px !important;
            a{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                @include mediaMaxWidth(768px){
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
                ._img{
                    min-height: 460px;
                    height: unset;
                    width: percentage(719/1200);
                    @include mediaMaxWidth(768px){
                        width: 100%;
                    }
                    @include mediaMaxWidth(480px){
                        min-height: 280px;
                    }
                }
                ._content{
                    width: 100% - percentage(719/1200);
                    padding: 30 percentage(63/1200);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    position: relative;
                    @include mediaMaxWidth(1024px){
                        padding: 30 30px;
                    }
                    @include mediaMaxWidth(768px){
                        width: 100%;
                    }
                    h3{
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 0;
                        -webkit-box-ordinal-group: 2;
                            -ms-flex-order: 1;
                                order: 1;
                        position: relative;
                        z-index: 1;
                    }
                    ._time{
                        margin: 23px 0 25px;
                        -webkit-box-ordinal-group: 3;
                            -ms-flex-order: 2;
                                order: 2;
                        position: relative;
                        z-index: 1;
                    }
                    ._txt{
                        display: block;
                        -webkit-box-ordinal-group: 4;
                            -ms-flex-order: 3;
                                order: 3;
                        font-family: "KoHo-Regular";
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        position: relative;
                        z-index: 1;
                    }
                    ._see_detail{
                        -webkit-box-ordinal-group: 5;
                            -ms-flex-order: 4;
                                order: 4;
                        margin-top: 50px;
                        padding-left: 40px;
                        position: relative;
                        position: relative;
                        z-index: 1;
                        &::before{
                            width: 28px;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                                    transform: translateY(-50%);
                            background: #B88F5C;
                            content: "";
                        }
                    }
                    ._drums{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: block;
                    }
                }
            }
        }
        a{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            color: #333333;
            ._txt{
                display: none;
            }
            ._img{
                width: 100%;
                height: 240px;
                background-position: center;
                background-size: cover;
            }
            ._content{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                padding: 15px 11px 23px 18px;
                border: 1px solid #E9E9E9;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                ._drums{
                    display: none;
                }
                h3{
                    -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                            order: 2;
                    font-family: "KoHo-Bold";
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 5px;
                    min-height: 50px;
                    word-break: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                ._time{
                    margin: 0px 0 7px;
                    -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                            order: 1;
                    span{
                        margin-left: 12px;
                        font-family: "KoHo-Bold";
                        font-size: 14px;
                        line-height: 30px;
                        color: #4D4D4D;
                    }
                }
                ._see_detail{
                    -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                            order: 3;
                    font-family: "KoHo-Bold";
                    font-size: 16px;
                    line-height: 24px;
                    background: -webkit-gradient(linear, left top, right top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
                    background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }
            &:hover{
                ._see_detail{
                    letter-spacing: .05em;
                }
            }
        }
    }
}
.___panigator{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    margin-bottom: -55px;
    position: relative;
    z-index: 1;
    @include mediaMaxWidth(768px){
        margin-bottom: 0;
    }
    .page-numbers{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        li{
            margin-right: 13px;
        }
        .page-numbers{
            width: 28px;
            display: block;
            height: 28px;
            border-radius: 100%;
            background: #EAEAEA;
            text-align: center;
            line-height: 28px;
            color: #6A4D3B;
            font-family: "KoHo-Bold";
            font-size: 16px;
            &:last-child{
                margin-right: 0;
            }
            &.current{
                background: -webkit-gradient(linear, left top, right top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
                background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
                color: #ffffff;
            }
        }
    }
}

.new_detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 34px percentage(120/1440) 0;
    @include mediaMaxWidth(1024px){
        padding: 34px 30px 0;
    }
    @include mediaMaxWidth(480px){
        padding: 34px 15px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    ._left{
        width: percentage(720/1200);
        @include mediaMaxWidth(1024px){
            width: 65%;
        }
        @include mediaMaxWidth(480px){
            width: 100%;
        }
        ._time{
            span{
                margin-left: 12px;
                font-family: "KoHo-Bold";
                font-size: 14px;
                line-height: 30px;
                color: #4D4D4D;
            }
        }
        h2{
            font-family: "KoHo-Bold";
            font-size: 28px;
            line-height: 40px;
            color: #333333;
            margin: 15px 0 6px;
        }
        ._excerpt{
            font-family: "KoHo-Bold";
            font-size: 18px;
            line-height: 30px;
            color: #333333;
            margin-bottom: 20px;
            text-align: justify;
        }
        ._the_content{
            font-family: "KoHo-Regular";
            font-size: 16px;
            line-height: 30px;
            color: #333333;
            text-align: justify;
            p{
                margin-bottom: 15px;
            }
            .wp-caption{
                text-align: center;
                margin: 28px auto 0;
                max-width: 100%;
                img{
                    max-width: 100%;
                    height: auto;
                }
                .wp-caption-text{
                    margin: 15px auto 0;
                    font-style: italic;
                }
            }
        }
    }
    ._right{
        width: percentage(360/1200);
        @include mediaMaxWidth(1024px){
            width: 30%;
        }
        @include mediaMaxWidth(768px){
            width: 31%;
        }
        @include mediaMaxWidth(480px){
            width: 100%;
        }
        img{
            width: 100%;
            height: auto;
        }
        ._see_agency{
            position: relative;
            &:hover{
                ._txt{
                    letter-spacing: .05em;
                }
            }
            ._txt{
                position: absolute;
                z-index: 2;
                left: 24px;
                bottom: 15px;
                margin-bottom: 0;
                font-family: "KoHo-Bold";
                font-size: 15px;
                line-height: 19px;
                text-transform: uppercase;
                background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-transition: .4s;
                transition: .4s;
                &::before{
                    bottom: 0;
                    background: -webkit-gradient(linear, left top, right top, from(#FAD483), color-stop(22.75%, #EFCB80), color-stop(41.33%, #FFECA8), color-stop(58.5%, #FFECA7), color-stop(77.08%, #FFFFC9), color-stop(99.83%, #FFEDAB));
                    background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    content: "";
                    position: absolute;
                }
            }
            &::before{
                content: "";
                background: -webkit-gradient(linear, left top, left bottom, color-stop(67.22%, rgba(0, 0, 0, 0)), color-stop(118.33%, rgba(0, 0, 0, 0.65)));
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.22%, rgba(0, 0, 0, 0.65) 118.33%);
                @include absoluteFull;
                z-index: 1;
            }
        }

        ._title{
            margin: 42px 0 25px;
            font-family: "SVN-Miller Banner Bold";
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            color: #251105;
        }

        ._video_project{
            ._content{
                position: relative;
                .__play{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                    width: 48px;
                    height: 48px;
                    background: #ffffffcc;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    border-radius: 100%;
                    -webkit-transition: .4s;
                    transition: .4s;
                    &:hover{
                        -webkit-transform: translate(-50%, -50%) scale(1.2);
                                transform: translate(-50%, -50%) scale(1.2);
                    }
                    img{
                        width: 19px;
                    }
                }
            }
        }
        ._related_news{
            a{
                display: block;
                margin-bottom: 19px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                font-family: "KoHo-Bold";
                font-size: 16px;
                line-height: 20px;
                color: #333333;
                @include mediaMaxWidth(768px){
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
                @include mediaMaxWidth(480px){
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                }
                &:hover{
                    p{
                        letter-spacing: .05em;
                    }
                }
                ._img{
                    width: percentage(140/360);
                    min-height: 100px;
                    background-size: cover;
                    background-position: center;
                    @include mediaMaxWidth(768px){
                        width: 100%;
                        min-height: 165px;
                    }
                    @include mediaMaxWidth(480px){
                        width: 32%;
                        min-height: 100px;
                    }
                }
                ._txt{
                    width: percentage(203/360);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    @include mediaMaxWidth(768px){
                        width: 100%;
                        padding-top: 15px;
                    }
                    @include mediaMaxWidth(480px){
                        width: 65%;
                    }
                    h3{
                        margin-bottom: 12px;
                    }
                    p{
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 24px;
                        background: -webkit-gradient(linear, left top, right top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
                        background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}