.popup_register{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background: rgba(0,0,0,.65);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease;
	&.is_open{
		opacity: 1;
		pointer-events: all;
	}
	._close{
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		cursor: pointer;
		@media only screen and (max-width: 575px){
			img{
				max-width: 32px;
			}
		}
	}
	._drums{
		position: absolute;
	    left: -27.5%;
    	bottom: -46%;
	    mix-blend-mode: exclusion;
	    animation: rotate_all 6s infinite linear;
	    img{
	    	transform: scale(.55);
	    }
	    @media only screen and (max-width: 768px){
			left: -40.5%;
		}
		@media only screen and (max-width: 575px){
			left: -83.5%;
			bottom: -49%;
			img{
		    	transform: scale(.35);
		    }
		}
	}
	._home_contact{
		width: 960px;
		padding: 36px 72px 48px 52px;
		margin: 0;
		background-image: url('../../../images/home_mai/frm_bg.png');
		background-size: cover;
		background-position: center center;
		overflow: hidden;
		@media only screen and (max-width: 1024px){
			width: calc(100% - 60px);
			padding: 48px 50px;
		}
		@media only screen and (max-width: 768px){
			padding: 48px 30px;
		}
		@media only screen and (max-width: 575px){
			width: calc(100% - 30px);
			padding: 30px 15px; 
		}
		._left{
			padding-top: 0;
			width: percentage(484/826);
			margin: 0;
			.home_title{
				h3{
					color: #fff;
					font-size: 16px;
					line-height: 20px;
				}
				h2{
				    background: -webkit-linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
				    background: -o-linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
				    background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
				    -webkit-background-clip: text;
    				-webkit-text-fill-color: transparent;
    				font-size: 28px;
					line-height: 38px;
				}
			}
			._img{
				margin-top: 35px;
				background-size: cover;
				background-position: center center;
				height: 360px;
				width: 100%;
			}
			@media only screen and (max-width: 575px){
				width: 100%;
				._img{
					display: none;
				}
			}
		}
		._right{
			width: percentage(342/826);
			padding-right: 0;
			padding-left: 56px;
			@media only screen and (max-width: 1024px){
				padding-left: 30px;
			}
			@media only screen and (max-width: 575px){
				width: 100%;
				padding: 0;
			}
			form{
				background-image: none;
				padding: 0;
				label{
					color: #938A8A;;
				}
				input,textarea{
					height: 33px;
					font-size: 15px;
					color: #fff;
					border-bottom: 1px solid #523F33;
					&:focus{
						border-bottom: 1px solid #946638;
					}
				}
				textarea{
					height: 33px;
				}
				button{
				    width: 168px;
				    height: 36px;
				    color: #ffffff;
				    line-height: 36px;
				    font-size: 14px;
				    margin-left: 0;
				    margin-top: 28px;
				}
				._item{
					margin-bottom: 25px;

				}
				._msg_frm{
					margin-top: 15px;
				}
				._other{
					flex-direction: column;
    				align-items: flex-start;
    				margin-top: 25px;
					.g-recaptcha{
						transform: scale(0.7);
						margin-left: -45px;
					}
				}
				
				@media only screen and (max-width: 480px){
					padding: 15px 10px 0;
					label{
						font-size: 13px;
					}
					input,textarea{
						height: 30px;
						font-size: 14px;
					}
					button{
						margin-top: 0;
					}
					._item{
						margin-bottom: 15px;
					}
					._other{
						flex-direction: column;
						margin-top: 15px;
						.g-recaptcha{
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}