.thank_you{
    width: 100%;
    height: 100vh;
    background-color: #361907;
    background-image: url('../../../images/homes/tk_bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    @include mediaMaxWidth(1024px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    ._left{
        height: 100%;
        width: percentage(840/1440);
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
        @include mediaMaxWidth(1024px){
            width: 100%;
            background-position: bottom center;
        }
        @include mediaMaxWidth(480px){
            height: 275px;
        }
        @include mediaMaxWidth(320px){
            height: 215px;
        }
    }
    ._right{
        height: 100%;
        width: 100% - percentage(840/1440);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        @include mediaMaxWidth(1024px){
            width: 100%;
        }
        @include mediaMaxWidth(480px){
            height: calc(100% - 275px)
        }
        @include mediaMaxWidth(320px){
            height: calc(100% - 215px);
        }
        ._drump{
            position: absolute;
            bottom: 0;
            left: -130px;
        }
        ._logo_tk{
            position: relative;
            z-index: 1;
            img{
                @include mediaMaxWidth(480px){
                    width: 130px;
                }
                @include mediaMaxWidth(320px){
                    width: 100px;
                }
            }
        }
        ._title{
            text-align: center;
            margin-top: 41px;
            margin-bottom: 59px;
            position: relative;
            z-index: 1;
            @include mediaMaxWidth(768px){
                margin-top: 35px;
                margin-bottom: 40px;
            }
            @include mediaMaxWidth(480px){
                margin: 20px 0 30px;
            }
            h3{
                line-height: normal;
                font-size: 32px;
                font-family: "SVN-Miller Banner Regular";
                background: -webkit-gradient(linear, left top, right top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
                background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @include mediaMaxWidth(480px){
                    font-size: 24px;
                }
            }
            p{
                font-family: "KoHo-Regular";
                font-size: 16px;
                line-height: 24px;
                color: #E9DAD0;
                margin-bottom: 0;
                @include mediaMaxWidth(480px){
                    font-size: 14px;
                }
                @include mediaMaxWidth(320px){
                    font-size: 13px;
                }
            }
        }
        a._button{
            position: relative;
            z-index: 1;
            display: block;
            background: -webkit-gradient(linear, left top, right top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
            background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
            line-height: 46px;
            padding: 0 35px;
            color: #ffffff;
            font-family: "KoHo-Medium";
            text-transform: uppercase;
            -webkit-transition: .4s;
            transition: .4s;
            font-size: 14px;
            @include mediaMaxWidth(480px){
                line-height: 40px;
                padding: 0 23px;
            }
            &:hover{
                background: -webkit-gradient(linear, right top, left top, from(#A56D3A), color-stop(54.17%, #B88F5C), to(#D4BA81));
                background: linear-gradient(270deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
            }
        }
    }
}