@font-face {
    font-family: "KoHo-Bold";
    src: url("../../../fonts/Koho/KoHo-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "KoHo-Medium";
    src: url("../../../fonts/Koho/KoHo-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "KoHo-Regular";
    src: url("../../../fonts/Koho/KoHo-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "KoHo-Light";
    src: url("../../../fonts/Koho/KoHo-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "KoHo-SemiBold";
    src: url("../../../fonts/Koho/KoHo-SemiBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-Miller Banner";
    src: url("../../../fonts/Miller/SVN-Miller Banner.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Miller Banner Black";
    src: url("../../../fonts/Miller/SVN-Miller Banner Black.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Miller Banner Bold";
    src: url("../../../fonts/Miller/SVN-Miller Banner Bold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Miller Banner Regular";
    src: url("../../../fonts/Miller/SVN-Miller Banner Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SVN-Miller Banner Semibold";
    src: url("../../../fonts/Miller/SVN-Miller Banner Semibold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../../fonts/Montserrat-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../../fonts/Montserrat-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../../fonts/Montserrat-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro Bold';
    src: url('../../../fonts/Trajan Pro Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCielGotham-Medium';
    src: url('../../../fonts/iCielGotham-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCielGotham-Book';
    src: url('../../../fonts/iCielGotham-Book.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iCielGotham-Bold';
    src: url('../../../fonts/iCielGotham-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iCielGotham-Light';
    src: url('../../../fonts/iCielGotham-Light.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}