footer{
	position: relative;
	background-color: #2a150f;
	padding: 0 percentage(1/12);
	overflow: hidden;
	&:before{
		position: absolute;
		content: "";
		top: 1px;
		left: 0;
		width: 100%;
		height: 3px ;
		background-color: #d4ba81;
		z-index: 1;
	}
	._decor_left,
	._decor_right{
		position: absolute;
		z-index: 0;
		height: auto;
		max-height: 100%;
	}
	._decor_left{
		top: 0;
		left: 0;
		width: percentage(3.5/12);
	}
	._drums{
		position: absolute;
	    right: -13.5%;
    	bottom: -61%;
	    mix-blend-mode: color-dodge;
	    animation: rotate_all 6s infinite linear;
	    img{
	    	transform: scale(.85);
	    }
	}
	@media only screen and (max-width: 1024px){
		padding: 0 45px;
	}
	@media only screen and (max-width: 768px){
		padding: 0 45px 90px;
		&:before{
			height: 1px ;
		}
		._decor_left{
			width: 50%;
		}
		._drums{
		    right: -22%;
    		bottom: -5%;
		    img{
		    	transform: scale(.65);
		    }
		}
	}
	@media only screen and (max-width: 480px){
		._decor_left{
			width: 100%;
			transform: rotate(90deg);
		}
		._drums{
		    right: -10%;
    		bottom: 66px;
		    img{
		    	transform: scale(1);
		    	max-width: 235px;
		    }
		}
	}
	._ft_top{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 62px 0 30px;
		@media only screen and (max-width: 768px){
			padding: 45px 0 32px;
		}
		._item{
			width: percentage(3/10);
			._logo{
				margin-bottom: 30px;
			}
			._logo_other{
				display: flex;
				margin: 8px 0 34px 20px;
				a{
					display: block;
					margin-right: 45px;
					&:last-child{
						margin-right: 0;
					}
					img{
						max-height: 52px;
					}
				}
			}
			._social{
				display: flex;
				li{
					margin-right: 30px;
					a{
						color: #fff;
						transition: all .3s ease;
					}
					&:last-child{
						margin-right: 0;
					}
					&:hover{
						a{
							transform: scale(1.2);
							color: #f9cf7c;
						}
					}
				}
			}
			p{
				font-family: "KoHo-Regular";
				font-size: 15px;
				line-height: 1.5;
				color: #fff;
				margin-bottom: 20px;
				span{
					color: #f9cf7c;
				}
				a{
					color: #fff;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
			._title{
				font-family: "SVN-Miller Banner Semibold";
				font-size: 20px;
				color: #f9cf7c;
				margin-bottom: 18px;
			}
			&:nth-of-type(1){
				padding-right: percentage(0.75/10);
			}
			&:nth-of-type(3){
				width: percentage(4/10);
				padding-left: percentage(0.75/10);
			}
			@media only screen and (max-width: 768px){
				width: 100%;
				&:nth-of-type(1){
					padding-right: 0;
				}
				&:nth-of-type(3){
					width: 100%;
					padding-left: 0;
					margin-top: 42px;
				}
				._logo{
					display: block;
					margin: 0 auto 38px;
				}
				p{
					margin-bottom: 10px;
				}
				._logo_other{
					margin: 45px 0 24px;
				}
				._title{
					&._bottom{
						margin-top: 30px;
					}
				}
			}
			@media only screen and (max-width: 480px){
				p{
					font-size: 14px;
				}
				._logo_other{
					justify-content: center;
					a{
						margin-right: 20px;
						img{
							max-height: 40px;
						}
					}
				}
				._title{
					font-size: 16px;
					margin-bottom: 10px;
				}

			}
		}
	}
	._ft_bottom{
		position: relative;
		font-family: "KoHo-Regular";
		text-align: center;
		color: #704c42;
		font-size: 14px;
		padding: 3px 15px 12px;
	}

}