header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 percentage(120/1440);
    z-index: 100;
    transform: translateY(0);
    transition: .4s;
    background-color: transparent;
    @include mediaMaxWidth(1024px){
        padding: 0 30px;
    }
    @include mediaMaxWidth(768px){
        left: 0;
        right: percentage(124/375);
        bottom: 75px;
        background: #2E1D13;
        padding: 80px 40px 0 80px;
        transform: translateX(-100%);
        transition: .4s;
        &.__active{
            transform: translateX(0);
        }
    }
    @include mediaMaxWidth(480px){
        padding: 43px 20px 0 40px;
        bottom: 60px;
    }
    &.is_active{
        background-color: #241207;
        ._header{
            .__logo_project{
                box-shadow: 0px 10px 20px 0px #24120714;
            }
        }
    }
    &.scroll_hide{
        transform: translateY(-500px);
    }
    ._header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        @include mediaMaxWidth(768px){
            justify-content: flex-start;
            flex-direction: column;
            height: 100%;
        }
        .__logo_project{
            width: 132px;
            height: 132px;
            background-color: #241207;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            transition: .4s;
            @include mediaMaxWidth(768px){
                display: none;
            }
        }
        .__menu{
            width: calc(100% - 295px);
            padding-top: 25px;
            padding-bottom: 15px;
            @include mediaMaxWidth(768px){
                width: 100%;
                height: calc(100% - 195px);
            }
            @include mediaMaxWidth(480px){
                height: auto;
                margin-bottom: 20px;
            }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                @include mediaMaxWidth(768px){
                    flex-direction: column;
                }
                li{
                    margin-right: percentage(80/905);
                    &.current_page_item{
                        background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &.menu-item-object-custom{
                        background: unset;
                        -webkit-background-clip: unset;
                        -webkit-text-fill-color: unset;
                    }
                    @include mediaMaxWidth(1440px){
                        margin-right: percentage(60/905);
                    }
                    @include mediaMaxWidth(1024px){
                        margin-right: 35px;
                    }
                    @include mediaMaxWidth(768px){
                        margin-right: 0;
                        margin-bottom: 41px;
                        &.current_page_item{
                            a{
                                background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background: linear-gradient(90deg, #FAD483 0%, #EFCB80 22.75%, #FFECA8 41.33%, #FFECA7 58.5%, #FFFFC9 77.08%, #FFEDAB 99.83%);
                                    height: 2px;
                                    width: 20px;
                                    right: -60px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    @include mediaMaxWidth(480px){
                                        right: -40px;
                                    }
                                }
                            }
                        }
                        &.menu-item-object-custom{
                            a{
                                background: #ffffff;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                color: #ffffff;
                                &::before{
                                    content: none;
                                }
                            }
                        }
                    }
                    @include mediaMaxWidth(480px){
                        margin-bottom: 34px;
                    }
                    @include mediaMaxWidth(320px){
                        margin-bottom: 20px;
                    }
                    &:last-child{
                        margin-right: percentage(78/905);
                        @include mediaMaxWidth(1024px){
                            margin-right: 40px;
                        }
                        @include mediaMaxWidth(768px){
                            margin-right: 0;
                            margin-bottom: 0px;
                        }
                    }
                    a{
                        font-size: 14px;
                        font-family: "KoHo-Bold";
                        color: rgb(255, 255, 255);
                        text-transform: uppercase;
                        line-height: 2.679;
                        text-decoration: none;
                        @include mediaMaxWidth(768px){
                            font-family: "KoHo-Regular";
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @include mediaMaxWidth(480px){
                            font-size: 15px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
        ._register_buy{
            padding-top: 23px;
            cursor: pointer;
            @include mediaMaxWidth(768px){
                display: none;
            }
            span{
                display: block;
                width: 163px;
                height: 40px;
                background: linear-gradient(90deg, #d4ba81 0%, #c39760 51%, #b1753e 100%);
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                font-family: "KoHo-Bold";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                &:hover{
                    background: linear-gradient(270deg, #d4ba81 0%, #c39760 51%, #b1753e 100%);
                }
            }
        }
        ._social_m{
            display: none;
            @include mediaMaxWidth(768px){
                display: block;
                ._txt{
                    font-family: "KoHo-Regular";
                    font-size: 16px;
                    line-height: 24px;
                    color: #A77B65;
                    margin-bottom: 8px;
                }
                ._list_icon{
                    a{
                        color: #ffffff;
                        font-size: 22px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

._header_mobile{
    display: none;
    @include mediaMaxWidth(768px){
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: 0;
        right: 0;
        height: 75px;
        background: #FFFFFF;
        box-shadow: 0px -4px 4px rgba(84, 84, 84, 0.18);
        position: fixed;
        z-index: 99;
        @include mediaMaxWidth(480px){
            height: 60px;
        }
        ._item{
            width: calc(100%/3);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            text-align: center;
            color: #666666;
            transition: .4s;
            background: transparent;
            @include mediaMaxWidth(480px){
                font-size: 12px;
            }
            &.__active{
                background: linear-gradient(90deg, #A56D3A 0%, #B88F5C 54.17%, #D4BA81 100%);
                ._txt{
                    color: #ffffff;
                }
            }
            &:nth-of-type(1){
                ._pull{
                    div{
                        width: 30px;
                        height: 3px;
                        background: #A56D3A;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        transition: .4s;
                        @include mediaMaxWidth(480px){
                            width: 22px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    &.__change{
                        div{
                            background: #ffffff;
                            &:nth-of-type(2){
                                opacity: 0;
                            }
                            &:nth-of-type(1){
                                transform: translate(0px, 2px) rotate(45deg);
                                margin-bottom: 0;
                            }
                            &:nth-of-type(3){
                                transform: translate(-1px, -9px) rotate(-45deg);
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            a{
                color: #666666;
            }
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 85%;
                background: #ECECEC;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
            &:last-child{
                &::before{
                    content: none;
                }
            }
        }
    }
}
._coating_m{
    position: fixed;
    z-index: 98;
    @include fixedFull;
    background: #000000a6;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    &.__active{
        opacity: 1;
        visibility: visible;
    }
}

._logo_mobile{
    position: fixed;
    top: 0;
    z-index: 97;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 89px;
    background: #251105;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 10px;
    display: none;
    @include mediaMaxWidth(768px){
        display: block;
        transition: .4s;
        &.scroll_hide{
            transform: translateX(-50%) translateY(-300px);
        }
        &.is_active{
            transform: translateX(-50%) translateY(0px);
        }
    }
    a{
        width: 100%;
        height: 100%;
        display: flex;
        img{
            width: 100%;
        }
    }
}